<ion-header class="transparent-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [routerLink]="['/register']" class="ion-text-end">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-screen">
    <div class="login-header">
      <h2>Sign In</h2>
      <p>We take the security and privacy of your information seriously, and we employ industry-standard measures to protect your data.</p>
    </div>
    <div class="login-inner">
      <form #loginForm="ngForm" (ngSubmit)="onSubmitForm(loginForm)" (keyup.enter)="onSubmitForm(loginForm)">
        <ion-grid>
          <ion-row>
            <!-- email -->
            <ion-col size="12">
              <div class="field-item">
                <ion-input name="identity" [(ngModel)]="model.identity" labelPlacement="stacked" placeholder="Enter your email" required></ion-input>
              </div>
            </ion-col>
            <!-- password -->
            <ion-col size="12">
              <div class="field-item">
                <ion-input name="password" [(ngModel)]="model.password" labelPlacement="stacked" placeholder="Enter your password" required></ion-input>
              </div>
            </ion-col>
            <ion-col size="12">
              <ion-label class="ion-float-right" [routerLink]="['/forgot-password']">Forgot Password?</ion-label>
            </ion-col>
            <!-- Button -->
            <ion-col size="12">
              <div class="custom-btn">
                <ion-button type="submit" [disabled]="!loginForm.valid" expand="block" shape="round">
                  Sign In
                </ion-button>
              </div>
              <ion-button shape="round" class="home-btn" [routerLink]="['/home']" expand="block">Goto Home</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>
