<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{parms_action_name}}

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-inner">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div [innerHTML]="viewData?.description | safeHtml"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<common-footer></common-footer>