.login-inner  {
    background: #11367A;
}
.footer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.login-inner {
    color: #fff;
    height: auto;
    margin: 0;
    position: fixed;
    bottom: 0;
    padding-bottom: 70px;
    padding-top: 70px;
}
.login-header {
    margin-top: 250px;
}
.login-screen {
    height: unset;
}
.home-btn {
    --background: #25AAE1 !important;
}