<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Event Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-inner">
    <ion-grid>
      <div class="teacher-profile">
        <div class="profile_top">
          <div class="profile__picture {{eventViewData?.tutor_details?.is_online}}" >
            <img src="{{eventViewData?.og_image}}" alt="ananddavis">
          </div>
          <div class="profile__header">
            <div class="profile__account">
              <h4 class="profile__username">
                <span>{{eventViewData?.pagetitle}}</span>
                <span class="reviews-count">
                  <div class="rating">
                    <span class="rating__stars"
                      style="--rating: {{eventViewData?.tutor_rating?.avg_rating}};"></span>
                  </div>
                  <mat-icon matBadge="{{eventViewData?.tutor_rating?.no_of_ratings}}"
                    matBadgeColor="warn">chat_bubble</mat-icon>
                </span>
              </h4>

            </div>
          </div>
          <p class="subject">{{eventViewData?.meta_description}}</p>
          <div class="profile__stats">
            <div class="profile__stat">
              <div class="profile__icon profile__icon--gold">
                <mat-icon>toll</mat-icon>
              </div>
              <div class="profile__value">{{eventViewData?.event_details?.increased_fee}} KlassCoins
                <div class="profile__key">Fee</div>
              </div>
            </div>
            <div class="profile__stat">
              <div class="profile__icon profile__icon--blue">
                <mat-icon>supervisor_account</mat-icon>
              </div>
              <div class="profile__value">{{eventViewData?.event_details?.total_students}} Students
                <div class="profile__key">Allowed</div>
              </div>
            </div>
            <div *ngIf="userData" class="profile__stat">
              <div class="profile__icon profile__icon--pink">
                <mat-icon>group</mat-icon>
              </div>
              <div class="profile__value">{{eventViewData?.event_details?.total_students}} Students
                <div class="profile__key">Registered</div>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-details" *ngIf="eventViewData">
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
            <!-- Event information -->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">event</mat-icon>
                Event Details
              </ng-template>
              <div class="tab-inner">
                <div class="basic-details">
                  <div class="details-item">
                    <div class="label">Name</div>
                    <div class="data">{{eventViewData?.pagetitle}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Fee</div>
                    <div class="data">{{eventViewData?.event_details?.fee}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Total Students Allowed</div>
                    <div class="data">{{eventViewData?.event_details?.total_students}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Total Students Registered</div>
                    <div class="data">{{eventViewData?.event_details?.total_students}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Teacher</div>
                    <div class="data">{{eventViewData?.tutor_details?.first_name}} {{eventViewData?.tutor_details?.last_name}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Qualification</div>
                    <div class="data">{{eventViewData?.tutor_details?.qualification}} from {{eventViewData?.tutor_details?.bachelor_uni}},
                      {{eventViewData?.tutor_details?.master_qualification}} from {{eventViewData?.tutor_details?.master_uni}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Language Known</div>
                    <div class="data">{{eventViewData?.tutor_details?.languages_known}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">More Details</div>
                    
                  </div>
                  <div [innerHTML]="eventViewData?.event_details?.content | safeHtml"></div>
                </div>
              </div>
            </mat-tab>
            <!-- Student's Reviews -->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">star</mat-icon>
                Student's Reviews
              </ng-template>
              <div class="tab-inner">
                <h4>Student's Reviews</h4>
                <div class="rating">
                  <span class="rating__stars"
                    style="--rating: {{eventViewData?.tutor_rating?.avg_rating}};"></span>
                  <div class="rating__number">
                    <span class="rating__score">{{eventViewData?.tutor_rating?.avg_rating}} out of 5</span>
                    <div class="rating__reviews">({{eventViewData?.tutor_rating?.no_of_ratings}})</div>
                  </div>
                </div>

                <div class="google-review">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="rating-review-item">
                          <div class="row">
                            <div class="side">
                              <div>5 star</div>
                            </div>
                            <div class="middle">
                              <div class="bar-container">
                                <div class="bar-5"
                                  [ngStyle]="{'width': eventViewData?.tutor_rating_percentage?.five_star_percentage +'%'}">
                                </div>
                              </div>
                            </div>
                            <div class="side right">
                              <div>{{eventViewData?.tutor_rating_percentage?.five_star_percentage}}%</div>
                            </div>
                            <div class="side">
                              <div>4 star</div>
                            </div>
                            <div class="middle">
                              <div class="bar-container">
                                <div class="bar-4"
                                  [ngStyle]="{'width': eventViewData?.tutor_rating_percentage?.four_star_percentage +'%'}">
                                </div>
                              </div>
                            </div>
                            <div class="side right">
                              <div>{{eventViewData?.tutor_rating_percentage?.four_star_percentage}}%</div>
                            </div>
                            <div class="side">
                              <div>3 star</div>
                            </div>
                            <div class="middle">
                              <div class="bar-container">
                                <div class="bar-3"
                                  [ngStyle]="{'width': eventViewData?.tutor_rating_percentage?.three_star_percentage +'%'}">
                                </div>
                              </div>
                            </div>
                            <div class="side right">
                              <div>{{eventViewData?.tutor_rating_percentage?.three_star_percentage}}%</div>
                            </div>
                            <div class="side">
                              <div>2 star</div>
                            </div>
                            <div class="middle">
                              <div class="bar-container">
                                <div class="bar-2"
                                  [ngStyle]="{'width': eventViewData?.tutor_rating_percentage?.two_star_percentage +'%'}">
                                </div>
                              </div>
                            </div>
                            <div class="side right">
                              <div>{{eventViewData?.tutor_rating_percentage?.two_star_percentage}}%</div>
                            </div>
                            <div class="side">
                              <div>1 star</div>
                            </div>
                            <div class="middle">
                              <div class="bar-container">
                                <div class="bar-1"
                                  [ngStyle]="{'width': eventViewData?.tutor_rating_percentage?.one_star_percentage +'%'}">
                                </div>
                              </div>
                            </div>
                            <div class="side right">
                              <div>{{eventViewData?.tutor_rating_percentage?.one_star_percentage}}%</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="several-rating">
                  <h4>By Several Parameters</h4>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="6">
                        <b>Tutor Self-Confidence</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_self_confidence_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_self_confidence_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Punctuality & Regularity</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_punctuality_regularity_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_punctuality_regularity_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Course/Syllabus Coverage</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_focus_in_syllabus_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_focus_in_syllabus_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Course/Syllabus Completeness</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_course_completeness_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_course_completeness_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Course Content Delivery</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_course_delivery_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_course_delivery_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Communication Skills</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_communication_skills_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_communication_skills_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Presentation skills</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_presentation_skills_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_presentation_skills_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Teaching Technique</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_teaching_technique_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_teaching_technique_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Focus in Syllabus</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_focus_in_syllabus_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_focus_in_syllabus_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Innovative Teaching Method</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_innovative_method_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_innovative_method_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Helping Student Attitude</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_helping_attitude_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_helping_attitude_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6">
                        <b>Effective Class Control</b>
                      </ion-col>
                      <ion-col size="6">
                        <div class="rating">
                          <span class="rating__stars"
                            style="--rating: {{eventViewData?.tutor_rating?.avg_effective_control_rating}};"></span>
                          <div class="rating__number">
                            <span
                              class="rating__score">{{eventViewData?.tutor_rating?.avg_effective_control_rating}}</span>
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>

                <!-- review slider -->
                <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1" [loop]="true" [autoplay]="true">
                  <swiper-slide *ngFor="let item of eventViewData?.tutor_reviews">
                    <div class="review-item">
                      <div class="review-top">
                        <div class="profile-img">
                          <img onError="this.src='assets/default-user.jpg'" src="{{file_url}}/assets/uploads/profiles/{{item?.photo}}">
                        </div>
                        <div>
                          <b>{{item?.student_name}}</b>
                          <div class="rating">
                            <span class="rating__stars"
                              style="--rating: {{item?.rating}};"></span>
                          </div>
                        </div>
                      </div>
                      
                      <b>{{item?.title}}</b>
                      <i>Reviewed On {{item?.posted_on | date:'dd MMM yyy : h:mm a'}}</i>
                      <p>{{item?.comments}}</p>
                    </div>
                  </swiper-slide>
                </swiper-container>
              </div>
            </mat-tab>
             <!-- Teacher information -->
             <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">person</mat-icon>
                Teacher Details
              </ng-template>
              <div class="tab-inner">
                <div class="basic-details">
                  <div class="details-item">
                    <div class="label">Name</div>
                    <div class="data">{{eventViewData?.tutor_details?.first_name}} {{eventViewData?.tutor_details?.last_name}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Gender</div>
                    <div class="data">{{eventViewData?.tutor_details?.gender}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Age</div>
                    <div class="data">{{tutorAge}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Experiance</div>
                    <div class="data">{{eventViewData?.tutor_details?.teaching_experience}} Years</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Qualification</div>
                    <div class="data">{{eventViewData?.tutor_details?.qualification}} from {{eventViewData?.tutor_details?.bachelor_uni}},
                      {{eventViewData?.tutor_details?.master_qualification}} from {{eventViewData?.tutor_details?.master_uni}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Language Known</div>
                    <div class="data">{{eventViewData?.tutor_details?.languages_known}}</div>
                  </div>
                  <div class="details-item">
                    <div class="label">Teaching class types</div>
                    <div class="data">
                      <span *ngIf="eventViewData.tutor_details?.academic_class == 'yes'">Academic</span>
                      <span *ngIf="eventViewData.tutor_details?.non_academic_class == 'yes'">, Non Academic</span>
                    </div>
                  </div>
                  <div [innerHTML]="eventViewData?.tutor_details?.profile | safeHtml"></div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="course-booking">
          <div class="course-info">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <div class="ion-justify-content-center">
                    <ion-icon color="danger" name="color-filter"></ion-icon>
                    <ion-label>Fee Required (In KlassCoins): {{eventViewData?.event_details?.increased_fee}}</ion-label>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="custom-btn">
                    <ion-button (click)="bookEvent()" type="submit" shape="round">
                      Book This Event
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="custom-btn">
                    <ion-button [routerLink]="['/', 'user', 'klassCoins-packages']" color="tertiary" shape="round">
                      Buy Klasscoins
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col size="12">
                  <div class="ion-justify-content-center">
                    <ion-icon color="danger" name="color-filter"></ion-icon>
                    <ion-label>Balance KiassCoins: {{tutorDetails?.net_credits}}</ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </div>
    </ion-grid>

  </div>
</ion-content>
<common-footer></common-footer>