ion-breadcrumbs {
    margin-top: 10px;
    ion-breadcrumb {
        text-transform: capitalize;
    }
}
.crystalClear {
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sunkist {
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.coal {
    background: #EB5757;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mini {
    background: #30E8BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.shalala {
    background: #D66D75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.purplepine {
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.example-container {
    height: 450px;
    width: 550px;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 800px;
    
  }
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

.profile-edit {
    padding-bottom: 50px;
}
.profile-head {
    position: fixed;
    top: 0;
    padding: 5px;
    background: linear-gradient(to left, #24243e, #11367A, #0f0c29);
    .head-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-breadcrumbs {
            display: flex;
            flex-flow: nowrap;
            overflow: hidden;
            ion-breadcrumb {
                color: #fff;   
            }
        }
        ion-button {
            --background: transparent;
            --box-shadow: none;
            --background: transparent;
            --box-shadow: none;
            font-size: 20px;
            margin: 0px;
            --padding: 0px;
        }
    }
}
mat-sidenav-container {
    margin-top: 50px;
    mat-sidenav {
        margin-top: 50px;
    }
}
.small-btn {
    width: 30px;
    height: 30px;
    --padding-start: 4px;
    --padding-end: 4px;
}