<ion-content [fullscreen]="true" [class.example-is-mobile]="mobileQuery.matches">
  <ion-header [translucent]="true" class="profile-head">

    <!-- breadcumb start -->
    <div class="head-inner">
      <ion-breadcrumbs>
        <ion-breadcrumb href="#home">
          Home
          <ion-icon slot="separator" name="chevron-forward-outline"></ion-icon>
        </ion-breadcrumb>
        <ion-breadcrumb href="#electronics">
          Experiance {{parms_action}}
          <ion-icon slot="separator" name="chevron-forward-outline"></ion-icon>
        </ion-breadcrumb>
      </ion-breadcrumbs>
      <ion-button menuToggle size="small" (click)="snav.toggle()">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
    </div>
    <!-- breadcumb end -->

  </ion-header>



  <mat-sidenav-container class="profile-sidenav-container example-sidenav-container">
    <!-- side menu start -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">
      <mat-nav-list class="profile-menu">

        <ion-accordion-group>
          <ion-accordion value="{{menu?.name}}" *ngFor="let menu of profileSideMenuData">
            <ion-item *ngIf="!menu?.subPages" [routerLink]="['/user/'+ menu?.url]" slot="header" class="no-subMenu">
              <mat-icon aria-hidden="false" fontIcon="{{menu?.icon}}"></mat-icon>
              <ion-label>{{menu?.name}}</ion-label>
            </ion-item>
            <ion-item *ngIf="menu?.subPages" slot="header">
              <mat-icon aria-hidden="false" fontIcon="{{menu?.icon}}"></mat-icon>
              <ion-label>{{menu?.name}}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content" *ngIf="menu?.subPages">
              <ion-item lines="none" *ngFor="let submenu of menu?.subPages" [routerLink]="['/user/'+ submenu?.url]">
                <mat-icon aria-hidden="false" fontIcon="{{submenu?.icon}}"></mat-icon>
                <ion-label>{{submenu?.name}}</ion-label>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </mat-nav-list>
    </mat-sidenav>
    <!-- side menu end -->

    <mat-sidenav-content>
      <div class="profile-edit" *ngIf="!loadUserData">
        <form #experienceAddEditForm="ngForm" (ngSubmit)="onSubmit(experienceAddEditForm)"
          (keyup.enter)="onSubmit(experienceAddEditForm)">
          <ion-grid>
            <ion-row>
              <input type="hidden" required [(ngModel)]="model.user_id" name="user_id">
              <input *ngIf="parms_action == 'edit'" required type="hidden" [(ngModel)]="parms_id" name="update_rec_id">
              <!-- Institute/School/College/Company/Organization Name -->
              <ion-col size="12">
                <div class="field-item">
                  <ion-input type="text" [(ngModel)]="model.company" name="company" labelPlacement="floating"
                  label="Institute/School/College/Company/Organization Name *" required></ion-input>
                </div>
              </ion-col>
              <!-- Describe Your Role -->
              <ion-col size="12">
                <div class="field-item">
                  <ion-input type="text" [(ngModel)]="model.role" name="role" labelPlacement="floating"
                    label="Describe Your Role *" required></ion-input>
                </div>
              </ion-col>
              <!-- Describe Your Job Description or Responsibilities -->
              <ion-col size="12">
                <div class="field-item">
                  <ion-label position="floating">Describe Your Job Description or Responsibilities:*</ion-label>
                  <angular-editor required [(ngModel)]="model.description" name="description" [config]="config"></angular-editor>
                </div>
              </ion-col>
              <!-- Associated Month From -->
              <ion-col size="12" *ngIf="months">
                <div class="field-item">
                  <ion-select [(ngModel)]="model.from_month" [value]="model.from_month"
                  name="from_month" interface="action-sheet" cancelText="Cancel Choice" labelPlacement="floating" label="Associated Month From">
                    <ion-select-option *ngFor="let item of months" [value]="item">{{item}}</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
              <!-- Associated Year From -->
              <ion-col size="12" *ngIf="years">
                <div class="field-item">
                  <ion-select [(ngModel)]="model.from_year" [value]="model.from_year"
                  name="from_year" interface="action-sheet" cancelText="Cancel Choice" labelPlacement="floating" label="Associated Year From">
                    <ion-select-option *ngFor="let item of years" [value]="item">{{item}}</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
              <!-- Associated Month Upto -->
              <ion-col size="12" *ngIf="months">
                <div class="field-item">
                  <ion-select [(ngModel)]="model.to_month" [value]="model.to_month"
                  name="to_month" interface="action-sheet" cancelText="Cancel Choice" labelPlacement="floating" label="Associated Month Upto">
                    <ion-select-option *ngFor="let item of months" [value]="item">{{item}}</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
              <!-- Associated Year Upto -->
              <ion-col size="12" *ngIf="years">
                <div class="field-item">
                  <ion-select [(ngModel)]="model.to_year" [value]="model.to_year"
                  name="to_year" interface="action-sheet" cancelText="Cancel Choice" labelPlacement="floating" label="Associated Year Upto">
                    <ion-select-option *ngFor="let item of years" [value]="item">{{item}}</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>


              <!-- Button -->
              <ion-col size="12">
                <div class="custom-btn">
                  <ion-button type="submit" [disabled]="!experienceAddEditForm.valid" expand="block" shape="round">
                    Save
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



</ion-content>
<common-footer></common-footer>