<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{pageName}}
      <ion-icon *ngIf="filterEnabled" (click)="openFilterMenu()" name="grid-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-inner">
    <!-- page refresh start -->
    <ion-refresher *ngIf="filterEnabled" slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing..."
      >
      </ion-refresher-content>
    </ion-refresher>
    <!-- page refresh end -->
    <div class="filter-section">
      <mat-accordion>
        <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Please specific with your selection:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="filter-inner">
              
            <ion-grid>
              <ion-row>
                <!-- Department -->
                <ion-col size="12">
                  <div class="field-item" *ngIf="dropdown_department">
                    <ion-select interface="action-sheet" placeholder="Select an option" name="department" [(ngModel)]="dropdown_department" (ionChange)="onChangeDepartment($event)">
                      <ion-select-option *ngFor="let item of departmentAllData" [value]="item">{{item?.name}}</ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>
                <!-- Class -->
                <ion-col size="12" *ngIf="dropdown_department && classAllData.length !== 0">
                  <div class="field-item">
                    <ion-select interface="action-sheet" placeholder="Select an option" name="class" [(ngModel)]="dropdown_class" (ionChange)="onChangeClass($event)">
                      <ion-select-option value="">Select an option</ion-select-option>
                      <ion-select-option *ngFor="let item of classAllData" [value]="item">{{item?.name}}</ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>
                <!-- Board -->
                <ion-col size="12" *ngIf="dropdown_class && boardAllData.length !== 0">
                  <div class="field-item">
                    <ion-select interface="action-sheet" placeholder="Select an option" name="board" [(ngModel)]="dropdown_board" (ionChange)="onChangeBoard($event)">
                      <ion-select-option value="">Select an option</ion-select-option>
                      <ion-select-option *ngFor="let item of boardAllData" [value]="item">{{item?.name}}</ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>
                <!-- Subject -->
                <ion-col size="12" *ngIf="dropdown_board && subjectAllData.length !== 0">
                  <div class="field-item">
                    <ion-select interface="action-sheet" placeholder="Select an option" name="categories" [(ngModel)]="dropdown_subject" (ionChange)="onChangeSubject($event)">
                      <ion-select-option value="">Select an option</ion-select-option>
                      <ion-select-option *ngFor="let item of subjectAllData" [value]="item">{{item?.name}}</ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
        </div>
        <mat-action-row>
          <button (click)="togglePanel()" type="button" mat-button color="warn">Close</button>
          <button (click)="onSubmitFilter()" mat-button color="primary">Search</button>
        </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="!filterEnabled">
      <div *ngIf="teacherAllData?.courses instanceof Array">
        <div class="section-item" *ngFor="let courseItem of teacherAllData?.courses">
          <ion-grid *ngIf="courseItem?.tutors.length !== 0">
            <ion-row>
              <ion-col>
                <div class="top-bar">
                  <h2 class="section_title">
                    <p><span *ngIf="className">{{className}} /</span> <span *ngIf="boardName">{{boardName}}/</span> {{courseItem?.name}}</p>
                    <!-- <span class="section_subtitle">CBSE</span> -->
                  </h2>
                  <ion-icon *ngIf="courseItem?.sub_subcategories == null" [routerLink]="['/teacher-list/'+ parms_department +'/'+ parms_class +'/'+ courseItem.slug +'/'+ parms_subject]" name="chevron-forward-circle-outline"></ion-icon>
                  <ion-icon *ngIf="courseItem?.sub_subcategories !== null" [routerLink]="['/teacher-list/'+ parms_department +'/'+ parms_class +'/'+ parms_board +'/'+ courseItem.slug]" name="chevron-forward-circle-outline"></ion-icon>
                </div>
                <mat-divider></mat-divider>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid *ngIf="courseItem?.tutors.length !== 0">
            <ion-row>
              <ion-col size="12" size-md="6" size-lg="4" *ngFor="let tutorItem of courseItem?.tutors">
                <div class="profile-card" [routerLink]="['/', 'teacher-profile', tutorItem.user_slug, tutorItem.category_slug, tutorItem.sub_category_slug, tutorItem.sub_subcategory_slug, tutorItem.course_slug]" >
                  <div class="profile-top">
                    <div class="profile-img">
                      <img onError="this.src='assets/default-student-male.png'" src="{{file_url}}/assets/uploads/profiles/thumbs/{{tutorItem?.photo}}">
                    </div>
                    <div class="profile-details">
                      <p class="name">{{tutorItem?.username}}</p>
                      <p class="designation">
                        {{tutorItem?.course_title}} 
                        <br>
                        <b *ngIf="tutorItem?.type == 'individual'">One-to-One Class</b>
                        <b *ngIf="tutorItem?.type == 'batch'">- Group Class</b>
                        <b *ngIf="tutorItem?.discount_offer !== '0'">
                          <i> - {{tutorItem?.discount_offer}}0% Off</i>
                        </b>
                      </p>
                    </div>
                  </div>
                  <div class="profile-bottom">
                    <div class="reward">
                      <mat-icon>account_balance_wallet</mat-icon>
                      <span>{{tutorItem?.increased_fee}} KlassCoin</span>
                    </div>
                    <div class="rating" *ngIf="tutorItem?.avg_rating !== null">
                      <div class="rating-bar">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half-outline"></ion-icon>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </ion-col>
              <ion-col size="12" size-md="6" size-lg="4" *ngIf="courseItem?.tutors.length == 0">
                <img class="no-tutor" src="../../../assets/no-tutor.jpg">
                <h3 class="ion-text-center">Tutor(s) not available.</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
          
        </div>
      </div>
      <div class="section-item" *ngIf="teacherAllData?.courses.length == 0 || noTutors">
        <img class="no-tutor" src="../../../assets/no-tutor.jpg">
        <h3 class="ion-text-center">Tutor(s) not available.</h3>
      </div>
    </div>
    
    <!-- infinite scroll start -->
    <div *ngIf="filterEnabled">
      <div class="section-item">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="top-bar">
                <h2 class="section_title">
                  <p>{{className}} / <span *ngIf="boardName">{{boardName}}/</span> {{subjectName}}</p>
                  <!-- <span class="section_subtitle">CBSE</span> -->
                </h2>
              </div>
              <mat-divider></mat-divider>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="4" *ngFor="let tutorItem of infiniteTeacherData">
              <div class="profile-card" [routerLink]="['/', 'teacher-profile', tutorItem.user_slug, parms_department, parms_class, parms_board, parms_subject]" >
                <div class="profile-top">
                  <div class="profile-img">
                    <img onError="this.src='assets/default-student-male.png'" src="{{file_url}}/assets/uploads/profiles/thumbs/{{tutorItem?.photo}}">
                  </div>
                  <div class="profile-details">
                    <p class="name">{{tutorItem?.username}}</p>
                    <p class="designation">
                      {{tutorItem?.course_title}} 
                      <br>
                      <b *ngIf="tutorItem?.type == 'individual'">One-to-One Class</b>
                      <b *ngIf="tutorItem?.type == 'batch'">- Group Class</b>
                      <b *ngIf="tutorItem?.discount_offer !== '0'">
                        <i> - {{tutorItem?.discount_offer}}0% Off</i>
                      </b>
                    </p>
                  </div>
                </div>
                <div class="profile-bottom">
                  <div class="reward">
                    <mat-icon>account_balance_wallet</mat-icon>
                    <span>{{tutorItem?.increased_fee}} KlassCoin</span>
                  </div>
                  <div class="rating" *ngIf="tutorItem?.avg_rating !== null">
                    <div class="rating-bar">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                    </div>
                  </div>
                </div>
                
              </div>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" *ngIf="infiniteTeacherData.length == 0">
              <img class="no-tutor" src="../../../assets/no-tutor.jpg">
              <h3 class="ion-text-center">Tutor(s) not available.</h3>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </div>
    </div>
    
    

    <!-- on scroll refresh start -->
    <ion-infinite-scroll *ngIf="filterEnabled" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- on scroll refresh end -->
  </div>

  <ion-menu *ngIf="filterEnabled" side="end" menuId="filterMenu" contentId="filterMenu">
    <div class="courseFilter">
      <!-- Mode of Class -->
      <div class="filter-item">
        <p class="filter-tittle">Mode of Class</p>
        <div class="filter-box">
          <ion-checkbox (click)="onFilterTeacher(model.individual,'class')" name="individual" [(ngModel)]="model.individual" labelPlacement="end">One-to-One Class</ion-checkbox>
          <ion-checkbox (click)="onFilterTeacher(model.batch,'class')" name="batch" [(ngModel)]="model.batch" labelPlacement="end">Group Class</ion-checkbox>
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- Avg. Student Review -->
      <div class="filter-item">
        <p class="filter-tittle">Avg. Student Review</p>
        <div class="filter-box">
          <ion-radio-group (click)="onFilterTeacher(model.star,'review')" name="star" [(ngModel)]="model.star" [allowEmptySelection]="true">
            <ion-radio value="4-star-and-above" labelPlacement="end">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              & Up
            </ion-radio><br />
            <ion-radio value="3-star-and-above" labelPlacement="end">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              & Up
            </ion-radio><br />
            <ion-radio value="2-star-and-above" labelPlacement="end">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              & Up
            </ion-radio><br />
            <ion-radio value="1-star-and-above" labelPlacement="end">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              & Up
            </ion-radio><br />
          </ion-radio-group>
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- Price -->
      <div class="filter-item">
        <p class="filter-tittle">Price</p>
        <div class="filter-box">
          <ion-checkbox (click)="onFilterTeacher(model.under500,'price')" name="under500" [(ngModel)]="model.under500" labelPlacement="end">Under ₹500</ion-checkbox><br />
          <ion-checkbox (click)="onFilterTeacher(model.between500,'price')" name="between500" [(ngModel)]="model.between500" labelPlacement="end">₹500 - ₹1000</ion-checkbox><br />
          <ion-checkbox (click)="onFilterTeacher(model.between1000,'price')" name="between1000" [(ngModel)]="model.between1000" labelPlacement="end">₹1000 - ₹2000</ion-checkbox><br />
          <ion-checkbox (click)="onFilterTeacher(model.between2000,'price')" name="between2000" [(ngModel)]="model.between2000" labelPlacement="end">₹2000 - ₹3000</ion-checkbox><br />
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- Discount -->
      <div class="filter-item">
        <p class="filter-tittle">Discount</p>
        <div class="filter-box">
          <ion-checkbox (click)="onFilterTeacher(model.discount10,'discount')" name="discount10" [(ngModel)]="model.discount10" labelPlacement="end">10% Off or more</ion-checkbox><br />
          <ion-checkbox (click)="onFilterTeacher(model.discount20,'discount')" name="discount20" [(ngModel)]="model.discount20" labelPlacement="end">20% Off or more</ion-checkbox><br />
          <ion-checkbox (click)="onFilterTeacher(model.discount30,'discount')" name="discount30" [(ngModel)]="model.discount30" labelPlacement="end">30% Off or more</ion-checkbox><br />
          <ion-checkbox (click)="onFilterTeacher(model.discount40,'discount')" name="discount40" [(ngModel)]="model.discount40" labelPlacement="end">40% Off or more</ion-checkbox><br />
          <ion-checkbox (click)="onFilterTeacher(model.discount50,'discount')" name="discount50" [(ngModel)]="model.discount50" labelPlacement="end">50% Off or more</ion-checkbox><br />
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- Class Availability -->
      <div class="filter-item">
        <p class="filter-tittle">Class Availability</p>
        <div class="filter-box">
          <ion-checkbox (click)="onFilterTeacher(model.morning,'availability')" name="morning" [(ngModel)]="model.morning" labelPlacement="end">Morning Slot</ion-checkbox><br />
          <ion-checkbox (click)="onFilterTeacher(model.afternoon,'availability')" name="afternoon" [(ngModel)]="model.afternoon" labelPlacement="end">Afternoon Slot</ion-checkbox><br />
          <ion-checkbox (click)="onFilterTeacher(model.evening,'availability')" name="evening" [(ngModel)]="model.evening" labelPlacement="end">Evening Slot</ion-checkbox><br />
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- Lesson Given Hour -->
      <div class="filter-item">
        <p class="filter-tittle">Lesson Given Hour</p>
        <div class="filter-box">
          <ion-radio-group (click)="onFilterTeacher(model.hour,'hour')" name="hour" [(ngModel)]="model.hour" [allowEmptySelection]="true" >
            <ion-radio value="low-to-high" labelPlacement="end">
              Low to High
            </ion-radio><br />
            <ion-radio value="high-to-low" labelPlacement="end">
              High to Low
            </ion-radio><br />
          </ion-radio-group>
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- Student Interacted -->
      <div class="filter-item">
        <p class="filter-tittle">Student Interacted</p>
        <div class="filter-box">
          <ion-radio-group (click)="onFilterTeacher(model.interacted,'interacted')" name="interacted" [(ngModel)]="model.interacted" [allowEmptySelection]="true" >
            <ion-radio value="low-to-high" labelPlacement="end">
              Low to High
            </ion-radio><br />
            <ion-radio value="high-to-low" labelPlacement="end">
              High to Low
            </ion-radio><br />
          </ion-radio-group>
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- Price Sort -->
      <div class="filter-item">
        <p class="filter-tittle">Price Sort</p>
        <div class="filter-box">
          <ion-radio-group (click)="onFilterTeacher(model.price,'price')" name="price" [(ngModel)]="model.price" [allowEmptySelection]="true" >
            <ion-radio value="low-to-high" labelPlacement="end">
              Low to High
            </ion-radio><br />
            <ion-radio value="high-to-low" labelPlacement="end">
              High to Low
            </ion-radio><br />
          </ion-radio-group>
        </div>
      </div>
    </div>
  </ion-menu>
  <ion-router-outlet id="filterMenu"></ion-router-outlet>
</ion-content>
<common-footer></common-footer>