<ion-header class="transparent-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [routerLink]="['/auth']" class="ion-text-end">Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-screen">
    <div class="login-header">
      <h2>Register</h2>
      <p>We take the security and privacy of your information seriously, and we employ industry-standard measures to protect your data.</p>
    </div>
    <form #userAddForm="ngForm" (ngSubmit)="onSubmit(userAddForm)" (keyup.enter)="onSubmit(userAddForm)">
      <div class="login-inner">
        <ion-grid>
          <ion-row>
            <input type="hidden" required [(ngModel)]="OTPaction" name="action">
            <!-- Register as -->
            <ion-col size="12">
              <div class="field-item">
                <p class="ion-text-center">Register As</p>
                <ion-segment (ionChange)="segmentChanged($event)" value="student">
                  <ion-segment-button *ngFor="let item of countryCodeData?.groups" [value]="item?.id">
                    <ion-label>{{item?.name}}</ion-label>
                  </ion-segment-button>
                </ion-segment>
                <input type="hidden" required [(ngModel)]="segmentValue" name="center_id">
              </div>
            </ion-col>
            <!-- First Name -->
            <ion-col size="12">
              <div class="field-item">
                <ion-input type="text"
                [(ngModel)]="model.first_name"
                name="first_name" labelPlacement="stacked" placeholder="Enter your First Name" required></ion-input>
              </div>
            </ion-col>
            <!-- Last Name -->
            <ion-col size="12">
              <div class="field-item">
                <ion-input type="text"
                [(ngModel)]="model.last_name"
                name="last_name" labelPlacement="stacked" placeholder="Enter your Last Name"></ion-input>
              </div>
            </ion-col>
            <!-- email -->
            <ion-col size="12">
              <div class="field-item">
                <ion-input type="text"
                [(ngModel)]="model.identity"
                name="identity" labelPlacement="stacked" placeholder="Enter your email" required></ion-input>
              </div>
            </ion-col>
            <!-- password -->
            <ion-col size="12">
              <div class="field-item">
                <ion-input type="text"
                [(ngModel)]="model.password"
                name="password" #password="ngModel" labelPlacement="stacked" placeholder="Enter your password" required></ion-input>
              </div>
            </ion-col>
            <!-- Confirm password -->
            <ion-col size="12">
              <div class="field-item">
                <ion-input type="text"
                [(ngModel)]="model.confirm_password"
                name="confirm_password" #confirmPassword="ngModel" labelPlacement="stacked" placeholder="Enter Confirm password" required></ion-input>
              </div>
            </ion-col>
            <!-- Referral code -->
            <ion-col size="12">
              <div class="field-item">
                <ion-input type="text"
                [(ngModel)]="model.referral_code"
                name="referral_code" labelPlacement="stacked" placeholder="Enter your Referral code"></ion-input>
              </div>
            </ion-col>
            <!-- Phone code -->
            <ion-col size="12">
              <div class="field-item">
                <ion-select [(ngModel)]="model.phone_code"
                name="phone_code" interface="action-sheet" placeholder="Select Phone code">
                  <ion-select-option *ngFor="let item of countryCodeData?.counrty_code" [value]="item?.id">{{item?.name}}</ion-select-option>
                </ion-select>
              </div>
            </ion-col>
            <!-- Phone Number -->
            <ion-col size="12">
              <div class="field-item">
                <ion-input type="text"
                [(ngModel)]="model.mobile"
                name="mobile" labelPlacement="stacked" placeholder="Enter your Phone Number"></ion-input>
              </div>
            </ion-col>
            <ion-col size="12">
              <ion-label class="ion-float-right" [routerLink]="['/forgot-password']">Forgot Password?</ion-label>
            </ion-col>
            <!-- Button -->
            <ion-col size="12">
              <div class="custom-btn">
                <ion-button type="submit" 
                [disabled]="!userAddForm.valid" expand="block" shape="round">
                  Send OTP
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </form>
  </div>
</ion-content>
