<ion-header class="transparent-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [routerLink]="['/auth']" class="ion-text-end">Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-screen">
    <div class="login-header">
      <h2>Register</h2>
      <p>We take the security and privacy of your information seriously, and we employ industry-standard measures to protect your data.</p>
    </div>
    <div class="login-inner">
      <ion-grid>
        <ion-row>
          <!-- Register as -->
          <ion-col size="12">
            <div class="field-item">
              <p class="ion-text-center">Register As</p>
              <ion-segment value="student">
                <ion-segment-button value="student">
                  <ion-label>Student</ion-label>
                </ion-segment-button>
                <ion-segment-button value="tutor">
                  <ion-label>Tutor</ion-label>
                </ion-segment-button>
              </ion-segment>
            </div>
          </ion-col>
          <!-- First Name -->
          <ion-col size="12">
            <div class="field-item">
              <ion-input labelPlacement="stacked" placeholder="Enter your First Name" required></ion-input>
            </div>
          </ion-col>
          <!-- Last Name -->
          <ion-col size="12">
            <div class="field-item">
              <ion-input labelPlacement="stacked" placeholder="Enter your Last Name" required></ion-input>
            </div>
          </ion-col>
          <!-- email -->
          <ion-col size="12">
            <div class="field-item">
              <ion-input labelPlacement="stacked" placeholder="Enter your email" required></ion-input>
            </div>
          </ion-col>
          <!-- password -->
          <ion-col size="12">
            <div class="field-item">
              <ion-input labelPlacement="stacked" placeholder="Enter your password" required></ion-input>
            </div>
          </ion-col>
          <!-- Confirm password -->
          <ion-col size="12">
            <div class="field-item">
              <ion-input labelPlacement="stacked" placeholder="Enter Confirm password" required></ion-input>
            </div>
          </ion-col>
          <!-- Referral code -->
          <ion-col size="12">
            <div class="field-item">
              <ion-input labelPlacement="stacked" placeholder="Enter your Referral code"></ion-input>
            </div>
          </ion-col>
          <!-- Phone code -->
          <ion-col size="12">
            <div class="field-item">
              <ion-select interface="action-sheet" placeholder="Select Phone code">
                <ion-select-option value="apples">Apples</ion-select-option>
                <ion-select-option value="oranges">Oranges</ion-select-option>
                <ion-select-option value="bananas">Bananas</ion-select-option>
              </ion-select>
            </div>
          </ion-col>
          <!-- Phone Number -->
          <ion-col size="12">
            <div class="field-item">
              <ion-input labelPlacement="stacked" placeholder="Enter your Phone Number"></ion-input>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-label class="ion-float-right" [routerLink]="['/forgot-password']">Forgot Password?</ion-label>
          </ion-col>
          <!-- Button -->
          <ion-col size="12">
            <div class="custom-btn">
              <ion-button [routerLink]="['/send-otp']" expand="block" shape="round">
                Send OTP
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
