<ion-content>
  <!-- banner start -->
  <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1" [loop]="true" [autoplay]="true">
    <swiper-slide *ngFor="let item of viewData?.home_page_main_banners">
      <img title="{{item?.name}}" alt="{{item?.name}}" src="{{file_url}}/{{item?.path}}/{{item?.image}}">
    </swiper-slide>
  </swiper-container>
  <!-- banner end -->

  <!-- three card start -->
  <div class="three-cards">
    <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1" [loop]="true" [autoplay]="true">
      <swiper-slide *ngFor="let item of viewData?.home_page_advantages">
        <div class="card-item">
          <div class="image">
            <img src="{{file_url}}/{{item?.path}}/{{item?.image}}" alt="">
          </div>
          <h1 class="title">{{item?.category_name}}</h1>
          <div class="descption" [innerHTML]="item?.short_description | safeHtml">
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <!-- three card end -->

  <!-- our_population start -->
  <div class="our_population">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p [innerHTML]="viewData?.popular_courses?.academic_details?.title | safeHtml"></p>
              <span class="section_subtitle" [innerHTML]="viewData?.popular_courses?.academic_details?.sub_title | safeHtml"></span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of viewData?.popular_courses?.data?.academic_classes" size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="{{file_url}}/{{item?.path}}/{{item?.image}}" alt="{{item?.name}}">
              <p class="title">{{item?.name}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- our_population end -->

  <!-- coding start -->
  <div class="coding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p [innerHTML]="viewData?.popular_courses?.coding_with_fun?.title | safeHtml"></p>
              <span class="section_subtitle" [innerHTML]="viewData?.popular_courses?.coding_with_fun?.sub_title | safeHtml"></span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of viewData?.popular_courses?.data?.coding_with_fun" size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="{{file_url}}/{{item?.path}}/{{item?.image}}" alt="{{item?.name}}">
              <p class="title text-center">{{item?.name}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- coding end -->

  <!-- coding start -->
  <div class="coding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p [innerHTML]="viewData?.popular_courses?.kids_technology?.title | safeHtml"></p>
              <span class="section_subtitle" [innerHTML]="viewData?.popular_courses?.kids_technology?.sub_title | safeHtml"></span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of viewData?.popular_courses?.data?.kids_technology" size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="{{file_url}}/{{item?.path}}/{{item?.image}}" alt="{{item?.name}}">
              <p class="title text-center">{{item?.name}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- coding end -->

  <!-- four-cards start  -->
  <div class="four-cards">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p>
                Leave your <b>Comfort Zone </b>and Enter your <b>Growth Zone</b>
              </p>
              <span class="section_subtitle">
                Life is full of opportunities to step outside the comfort zone, but grabbing hold of them can be difficult.
              </span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of viewData?.make_world_your_comfort_zone" size="6" size-md="6" size-lg="3">
            <div class="card">
              <p class="title">{{item?.name}}</p>
              <div class="descption" [innerHTML]="item?.short_description | safeHtml">
                <!-- <iframe height="150" src="https://www.youtube.com//embed/7GSqIOHdxW8"></iframe> -->
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- four-cards end  -->

  <!-- teachers start -->
  <div class="teachers">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="teachers_section_img">
            <img src="https://klasszone.indinews24.com/assets/front/images/Banner-2.jpg">
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="heading">
            Are you a <b>Teacher</b>
          </div>
          <div class="teachers-body">
            <p>
              <strong>1. Log on when you’re available</strong>
            </p>
            <p>
              <strong>2. Tutor remotely—no travel necessary.</strong>
            </p>
            <p>
              <strong>3. Get paid on a regular schedule—no invoice needed.</strong>
            </p>
            <p>
              <br>
              Our tutors are teachers, professors, adjuncts, PhD students, and industry professionals who are all
              passionate about their areas of expertise and eager to help students learn.<br>
              <br>
              We help learners of all ages and stages—from kindergarten through college, continuing education, and
              career. Our tutors provide empowering, encouraging support to help students complete their assignments,
              improve their grades, and persist in their studies.<br>
              <br>
              Our online tutoring platform makes connecting with students (and earning extra income!) simple,
              convenient, and flexible.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- teachers end -->

  <!-- curricular start -->
  <div class="curricular">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p [innerHTML]="viewData?.popular_courses?.extra_curricular_activities?.title | safeHtml"></p>
              <span class="section_subtitle" [innerHTML]="viewData?.popular_courses?.extra_curricular_activities?.sub_title | safeHtml"></span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of viewData?.popular_courses?.data?.extra_curricular" size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="{{file_url}}/{{item?.path}}/{{item?.image}}" alt="{{item?.name}}">
              <p class="title">{{item?.name}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- curricular end -->

  <!-- kids start -->
  <div class="kids">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p [innerHTML]="viewData?.popular_courses?.edge_technologies?.title | safeHtml"></p>
              <span class="section_subtitle" [innerHTML]="viewData?.popular_courses?.edge_technologies?.sub_title | safeHtml"></span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1" [loop]="true" [autoplay]="true">
      <swiper-slide *ngFor="let item of viewData?.popular_courses?.data?.edge_technology">
        <div class="imageBox">
          <img src="{{file_url}}/{{item?.path}}/{{item?.image}}" alt="{{item?.name}}">
          <div class="title">{{item?.name}}</div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <!-- kids end -->

  <!-- consultant start -->
  <div class="consultant">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p [innerHTML]="viewData?.popular_courses?.competitive_exams?.title | safeHtml"></p>
              <span class="section_subtitle" [innerHTML]="viewData?.popular_courses?.competitive_exams?.sub_title | safeHtml"></span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of viewData?.popular_courses?.data?.competitive_exams" size="4" size-lg="4">
          <div class="imageBox">
            <img src="{{file_url}}/{{item?.path}}/{{item?.image}}" alt="{{item?.name}}">
            <div class="title">{{item?.name}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="advertisement">
      <h2>Tutor with <strong>Klasszone</strong></h2>
      <p class="descption">Here are a few reasons to consider applying for flexible, convenient part-time work as an online tutor:</p>
      <div class="information">
        <strong>Work on Your Schedule.</strong><br>
        <strong>Work from Home.</strong><br>
        <strong>Work That Makes a Difference.</strong><br>
        <strong>Work That Pays.</strong><br>
        <strong>Work in a Supportive Environment.</strong><br>
        <strong>Work That You’ll Love.</strong>
      </div>
      <div class="ion-text-center">
        <div class="custom-btn">
          <ion-button shape="round">
            Become a Tutor
          </ion-button>
        </div>
      </div>
      <p class="ion-text-center">Start your Application</p>
      <div class="image">
        <img src="https://klasszone.indinews24.com/assets/front/images/Banner-41.jpg" alt="">
      </div>
    </div>
  </div>
  <!-- consultant end -->
  <!-- Counter start -->
  <div class="counter ">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-lg="6">
          <div class="counter-item">
            <div class="counter-number">
              <p>55</p>
              <span>+</span>
            </div>
            <p>Verified Tutors</p>
          </div>
        </ion-col>
        <ion-col size="6" size-lg="6">
          <div class="counter-item">
            <div class="counter-number">
              <p>155</p>
              <span>+</span>
            </div>
            <p>Registered Learners</p>
          </div>
        </ion-col>
        <ion-col size="6" size-lg="6">
          <div class="counter-item">
            <div class="counter-number">
              <p>255</p>
              <span>+</span>
            </div>
            <p>Active Courses</p>
          </div>
        </ion-col>
        <ion-col size="6" size-lg="6">
          <div class="counter-item">
            <div class="counter-number">
              <p>355</p>
              <span>+</span>
            </div>
            <p>Completed Sessions</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- Counter end -->
  <!-- languages start -->
  <div class="languages">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p [innerHTML]="viewData?.popular_courses?.foreign_languages?.title | safeHtml"></p>
              <span class="section_subtitle" [innerHTML]="viewData?.popular_courses?.foreign_languages?.sub_title | safeHtml"></span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1" [loop]="true" [autoplay]="true">
      <swiper-slide *ngFor="let item of viewData?.popular_courses?.data?.foreign_languages">
        <div class="imageBox">
          <img src="{{file_url}}/{{item?.path}}/{{item?.image}}" alt="{{item?.name}}">
          <div class="title">{{item?.name}}</div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <!-- languages end -->
  <!-- imageslide start -->
  <div class="imageslide">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p [innerHTML]="viewData?.popular_courses?.soft_skills?.title | safeHtml"></p>
              <span class="section_subtitle" [innerHTML]="viewData?.popular_courses?.soft_skills?.sub_title | safeHtml"></span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1" [loop]="true" [autoplay]="true">
      <swiper-slide *ngFor="let item of viewData?.popular_courses?.data?.soft_skills">
        <div class="imageBox">
          <img src="{{file_url}}/{{item?.path}}/{{item?.image}}" alt="{{item?.name}}">
          <div class="title">{{item?.name}}</div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <!-- imageslide end -->
</ion-content>
<common-footer></common-footer>