<ion-content>
  <!-- banner start -->
  <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1" [loop]="true" [autoplay]="true">
    <swiper-slide>
      <img src="assets/banner1.jpg">
    </swiper-slide>
    <swiper-slide>
      <img src="assets/banner2.jpg">
    </swiper-slide>
  </swiper-container>
  <!-- banner end -->

  <!-- three card start -->
  <div class="three-cards">
    <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1" [loop]="true" [autoplay]="true">
      <swiper-slide>
        <div class="card-item">
          <div class="image">
            <img src="https://klasszone.indinews24.com/assets/uploads/repeaters/8f21d-product-quality-pana.png" alt="">
          </div>
          <h1 class="title">Search Best Tutor</h1>
          <div class="descption">
            <p>Select your Tutor based on their skill-set, education qualification, experience, ratings received upon
              several parameters and reviews provided by various students.&nbsp;&nbsp;</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card-item">
          <div class="image">
            <img class="wow pulse animated" data-wow-duration="0.5s" data-wow-delay="0.5s"
              src="https://klasszone.indinews24.com/assets/uploads/repeaters/863fe-wepik-photo-mode-202292-111854.jpeg"
              alt="">
          </div>
          <h1 class="title wow animated fadeInLeft" data-wow-duration="2s" data-wow-delay="0.15s">
            Schedule Classes </h1>
          <div class="descption wow animated fadeInRight" data-wow-duration="2s" data-wow-delay="0.15s">
            <p>
              Schedule your Individual 1-to-1 Classes or Group/Batch classes either in Moring or Afternoon or Evening
              time as per your availiability and covienence.&nbsp;</p>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card-item">
          <div class="image">
            <img class="wow pulse animated" data-wow-duration="0.5s" data-wow-delay="0.5s"
              src="https://klasszone.indinews24.com/assets/uploads/repeaters/c4e4b-wepik-photo-mode-202292-112359.jpeg"
              alt="">
          </div>
          <h1 class="title wow animated fadeInLeft" data-wow-duration="2s" data-wow-delay="0.15s">
            Ratings &amp; Reviews </h1>
          <div class="descption wow animated fadeInRight" data-wow-duration="2s" data-wow-delay="0.15s">
            <p>
              Provide Star Ratings and Reviews of your Instructor on various parameter as per best of your knowledge.
              Also read reviews provided by other students to know more about Tutor.&nbsp;&nbsp;</p>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <!-- three card end -->

  <!-- our_population start -->
  <div class="our_population">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p>
                <b>Our Popular Academic </b> Classes
              </p>
              <span class="section_subtitle">
                Academic Classes CBSE/ICSE/State/Other Board
              </span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/99c6c-class_1.jpg" alt="">
              <p class="title">Class 1 Tuition</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/99c6c-class_1.jpg" alt="">
              <p class="title">Class 1 Tuition</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/99c6c-class_1.jpg" alt="">
              <p class="title">Class 1 Tuition</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/99c6c-class_1.jpg" alt="">
              <p class="title">Class 1 Tuition</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- our_population end -->

  <!-- coding start -->
  <div class="coding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p>
                <b>Coding </b> with Fun
              </p>
              <span class="section_subtitle">
                For Age-6 to 14 Years
              </span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/a8a64-blockchain.jpg" alt="">
              <p class="title text-center">Blockchain &amp; Crypto</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/a8a64-blockchain.jpg" alt="">
              <p class="title text-center">Blockchain &amp; Crypto</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/a8a64-blockchain.jpg" alt="">
              <p class="title text-center">Blockchain &amp; Crypto</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/a8a64-blockchain.jpg" alt="">
              <p class="title text-center">Blockchain &amp; Crypto</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- coding end -->

  <!-- coding start -->
  <div class="coding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p>
                Kids <b>Technology </b>
              </p>
              <span class="section_subtitle">
                Age 9 to 16 Years
              </span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/a8a64-blockchain.jpg" alt="">
              <p class="title text-center">Blockchain &amp; Crypto</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/a8a64-blockchain.jpg" alt="">
              <p class="title text-center">Blockchain &amp; Crypto</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/a8a64-blockchain.jpg" alt="">
              <p class="title text-center">Blockchain &amp; Crypto</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/a8a64-blockchain.jpg" alt="">
              <p class="title text-center">Blockchain &amp; Crypto</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- coding end -->

  <!-- four-cards start  -->
  <div class="four-cards">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p>
                Leave your <b>Comfort Zone </b>and Enter your <b>Growth Zone</b>
              </p>
              <span class="section_subtitle">
                Life is full of opportunities to step outside the comfort zone, but grabbing hold of them can be difficult.
              </span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="card">
              <p class="title">Best Tutor &amp; Instructor</p>
              <div class="descption">
                <iframe height="150" src="https://www.youtube.com//embed/7GSqIOHdxW8"></iframe>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="card">
              <p class="title">Best Tutor &amp; Instructor</p>
              <div class="descption">
                <iframe height="150" src="https://www.youtube.com//embed/7GSqIOHdxW8"></iframe>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="card">
              <p class="title">Best Tutor &amp; Instructor</p>
              <div class="descption">
                <iframe height="150" src="https://www.youtube.com//embed/7GSqIOHdxW8"></iframe>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="card">
              <p class="title">Best Tutor &amp; Instructor</p>
              <div class="descption">
                <iframe height="150" src="https://www.youtube.com//embed/7GSqIOHdxW8"></iframe>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- four-cards end  -->

  <!-- teachers start -->
  <div class="teachers">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="teachers_section_img">
            <img src="https://klasszone.indinews24.com/assets/front/images/Banner-2.jpg">
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="heading">
            Are you a <b>Teacher</b>
          </div>
          <div class="teachers-body">
            <p>
              <strong>1. Log on when you’re available</strong>
            </p>
            <p>
              <strong>2. Tutor remotely—no travel necessary.</strong>
            </p>
            <p>
              <strong>3. Get paid on a regular schedule—no invoice needed.</strong>
            </p>
            <p>
              <br>
              Our tutors are teachers, professors, adjuncts, PhD students, and industry professionals who are all
              passionate about their areas of expertise and eager to help students learn.<br>
              <br>
              We help learners of all ages and stages—from kindergarten through college, continuing education, and
              career. Our tutors provide empowering, encouraging support to help students complete their assignments,
              improve their grades, and persist in their studies.<br>
              <br>
              Our online tutoring platform makes connecting with students (and earning extra income!) simple,
              convenient, and flexible.
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- teachers end -->

  <!-- curricular start -->
  <div class="curricular">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p>
                <b>Extra Curricular</b> Activities
              </p>
              <span class="section_subtitle">
                  Extracurriculars Matter — To You and To School &amp; Colleges
              </span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="middle-bar">
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/99c6c-class_1.jpg" alt="">
              <p class="title">Class 1 Tuition</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/99c6c-class_1.jpg" alt="">
              <p class="title">Class 1 Tuition</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/99c6c-class_1.jpg" alt="">
              <p class="title">Class 1 Tuition</p>
            </div>
          </ion-col>
          <ion-col size="6" size-md="6" size-lg="3">
            <div class="small-card">
              <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/99c6c-class_1.jpg" alt="">
              <p class="title">Class 1 Tuition</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <!-- curricular end -->

  <!-- kids start -->
  <div class="kids">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p>
                <b>Edge </b> Technologies
              </p>
              <span class="section_subtitle">
                Trending Cutting Edge Technologies Classes
              </span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <swiper-container #swiper [modules]="swiperModules" [slidesPerView]="1" [loop]="true" [autoplay]="true">
      <swiper-slide>
        <div class="imageBox">
          <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/2bd77-big_data.jpeg" alt="">
          <div class="title">Big Data</div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="imageBox">
          <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/4ab4c-quantum_technology.jpeg" alt="">
          <div class="title">Quantum Computing </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <!-- kids end -->

  <!-- consultant start -->
  <div class="consultant">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="top-bar">
            <h2 class="section_title">
              <p>
                <b>Test</b> Preparation & <b>Competitive </b>Exams
              </p>
              <span class="section_subtitle">
                International Test Preparation, Competitive and Entrance Examinations
              </span>
            </h2>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="4" size-lg="4">
          <div class="imageBox">
            <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/2bd77-big_data.jpeg" alt="">
            <div class="title">Big Data</div>
          </div>
        </ion-col>
        <ion-col size="4" size-lg="4">
          <div class="imageBox">
            <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/2bd77-big_data.jpeg" alt="">
            <div class="title">Big Data</div>
          </div>
        </ion-col>
        <ion-col size="4" size-lg="4">
          <div class="imageBox">
            <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/2bd77-big_data.jpeg" alt="">
            <div class="title">Big Data</div>
          </div>
        </ion-col>
        <ion-col size="4" size-lg="4">
          <div class="imageBox">
            <img src="https://klasszone.indinews24.com/assets/uploads/sub_categories/2bd77-big_data.jpeg" alt="">
            <div class="title">Big Data</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="advertisement">
      <h2>Tutor with <strong>Klasszone</strong></h2>
      <p class="descption">Here are a few reasons to consider applying for flexible, convenient part-time work as an online tutor:</p>
      <div class="information">

      </div>
    </div>
  </div>
  <!-- consultant end -->
</ion-content>
<!-- <common-footer></common-footer> -->