/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// my tooltip style end
// -------- tost style start -------
.toast-wrapper {
    // --width: 400px !important;
}

.my-tost-custom-class {
    --background: var(--ion-color-lighter-shade);
    border-radius: 2px;
    color: var(--ion-color-white);
}

.my-tost-custom-classsuccess {
    --background: var(--ion-color-success);
    --border-radius: 2px;
    --color: var(--ion-color-white);
    --width: 300px !important;
}

.my-tost-custom-classerror {
    --background: var(--ion-color-danger-shade);
    --border-radius: 2px;
    --color: var(--ion-color-white);
    --width: 300px !important;
}

.my-tost-custom-classinfo {
    --background: var(--ion-color-warning);
    --border-radius: 2px;
    --color: var(--ion-color-black);
    --width: 300px !important;
}

// tost style end

img {
    width: 100%;
}
.field-item {
    ion-input {
        background: #F5F5F5;
        border-radius: 30px;
        --padding-start: 20px;
        --padding-end: 20px;
        --highlight-color-focused: unset;
    }
    ion-select {
        background: #F5F5F5;
        border-radius: 30px;
        --padding-start: 20px;
        --padding-end: 20px;
        --highlight-color-focused: unset;
    }
    ion-segment {
        background: #EEEEEE;
        padding: 5px;
        width: 80%;
        border-radius: 30px;
        margin: auto;
        ion-segment-button {
            border-radius: 30px;
            --border-radius: 30px;
            overflow: hidden;
        }
        ion-segment-button.segment-button-checked {
            --indicator-color: #11367a;
            border-radius: 30px;
            --indicator-height: 48px;
            --color-checked: #fff;
            --color: #fff;
            --indicator-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
            --border-radius: 30px;
        }
    }
    ng-otp-input {
        display: flex;
        justify-content: space-around;
    }
}
.segment-button-indicator-background {
    border-radius: 30px;
}
// login page design start
.transparent-header {
    ion-toolbar {
        --background: transparent;
        color: #fff;
    }
    ion-back-button {
        display: block;
    }
}
.transparent-header::after {
    background-image: none;
}
.login-screen {
    height: 100%;
    .login-header {
        color: #fff;
        margin: 0px 20px;
    }
    .login-inner {
        height: 100%;
        background: #fff;
        margin-top: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.custom-btn {
    ion-button {
        --background: #F47E2B;
        min-height: 50px;
    }
}

/*three card start*/
.three-cards {
    margin-top: 40px;
    z-index: 2;
    .card-item {
        background-color: #00a6dd;
        padding: 20px;
        padding-top: 25px;
        padding-bottom: 60px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-right: 22px;
        margin-left: 22px;
        .image {
            width: 76px;
            background-color: #fff;
            border-radius: 100%;
            margin: auto;
            padding: 16px;
        }
        .title {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            letter-spacing: 0.6px;
            margin: 15px 0;
        }
        .descption {
            color: #f0f0f0;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-box-orient: vertical;
            box-orient: vertical;
            -webkit-line-clamp: 5;
            -moz-line-clamp: 5;
            -ms-line-clamp: 5;
            line-clamp: 5;
            overflow: hidden;
            p {
                color: #f0f0f0;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -ms-box-orient: vertical;
                box-orient: vertical;
                -webkit-line-clamp: 5;
                -moz-line-clamp: 5;
                -ms-line-clamp: 5;
                line-clamp: 5;
                overflow: hidden;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
/*three card end*/

/* our_population start*/
.our_population {
    padding-top: 130px;
    z-index: 1;
    background-image: url(assets/B1-1.jpg);
    margin-top: -143px;
    .small-card {
        margin-bottom: 20px;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
        }
        .title {
            text-align: center;
            color: #ffffff;
            margin-top: 6px;
        }
    }
    .top-bar {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            font-size: 24px;
        }
        p {
            font-size: 20px;
        }
    }
}
/* our_population end*/

/* coding start*/
.coding {
    padding-top: 10px;
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            font-size: 24px;
        }
        p {
            font-size: 20px;
        }
    }
    .small-card {
        .title {
            text-align: center;
        }
    }
}
/* coding end*/
/* four-cards start */
.four-cards {
    padding-top: 10px;
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            font-size: 24px;
        }
        p {
            font-size: 20px;
        }
    }
    .card {
        background-color: #00a6dd;
        padding: 10px;
        border-radius: 10px;
        .title {
            border-radius: 10px;
            text-align: center;
            color: #fff;
        }
        .descption {
            iframe {
                width: 100%;
            }
        }
    }
}
/* four-cards end */

/* teachers start */
.section_title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
    p {
        line-height: initial;
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 300;
        color: #11367a;
    }
    .section_subtitle {
        display: block;
        font-size: 17px;
        margin-top: 8px;
        p {
            display: block;
            font-size: 17px;
            margin-top: 8px;
            color: #11367a;
        }
    }
}
.teachers {
    background-color: #ffb400;
    .heading {
        font-size: 40px;
        color: #000;
        font-weight: 300;
        margin-top: 30px;
    }
}
/* teachers end */

/* curricular start */
.curricular {
    .small-card {
        margin-bottom: 20px;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
        }
        .title {
            text-align: center;
            margin-top: 6px;
        }
    }
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            font-size: 24px;
        }
        p {
            font-size: 20px;
        }
    }
}
/* curricular end */

/* kids start */
.kids {
    padding: 30px 0;
    background-size: cover;
    background-image: url(assets/B2-1.jpg);
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        ion-icon {
            font-size: 24px;
        }
        p {
            font-size: 20px;
            color: #fff;
        }
    }
    .imageBox {
        margin: 0px 20px;
        position: relative;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
        .title {
            background: rgba(0, 0, 0, 0.6);
            padding: 10px;
            color: #ffffff;
            position: absolute;
            padding: 16px 10px;
            color: #ffffff;
            bottom: 0;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}
/* kids end */

/* consultant start */
.consultant {
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            font-size: 24px;
        }
        p {
            font-size: 20px;
        }
    }
    .imageBox {
        position: relative;
        margin-bottom: 15px;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
        }
        .title {
            color: #fff;
            position: absolute;
            bottom: 0;
            padding: 10px 15px;
            width: 100%;
            right: 0;
            left: 0;
            background: #11367A;
            font-weight: bold;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin: 0;
            text-align: left; 
        }
    }
    .advertisement {
        background: #d2e9ff;
        padding: 10px;
        .custom-btn {
            ion-button {
                --background: #00a6dd;
                margin-top: 20px;
            }
        }
    }
}
/* consultant end */

/* Counter start */
.counter {
    background: #ffb400;
    font-weight: 700;
    line-height: 0;
    .counter-item {
        text-align: center;
        .counter-number {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
/* Counter end */
/* languages start */
.languages {
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            font-size: 24px;
        }
        p {
            font-size: 20px;
        }
    }
    .imageBox {
        margin: 0px 20px;
        position: relative;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 15px;
        }
    }
    swiper-container {
        padding: 30px 0;
        background: #ededed;
    }
}
/* languages end */

/* imageslide start */
.imageslide {
    padding: 30px 0;
    background: #ededed;
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            font-size: 24px;
        }
        p {
            font-size: 20px;
        }
    }
    .imageBox {
        margin: 0px 20px;
        position: relative;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 15px;
        }
    }
}
/* imageslide end */

/*swiper style start*/
swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  }
  
  swiper-slide {
    display: flex;
    position: relative;
  
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }
  
  swiper-slide img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
/*swiper style start*/