/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* ---- metrail icon start ------- */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  /* metrail icon end */
// -------- tost style start -------
.toast-wrapper {
    // --width: 400px !important;
}

.my-tost-custom-class {
    --background: var(--ion-color-lighter-shade);
    border-radius: 2px;
    color: var(--ion-color-white);
}

.my-tost-custom-classsuccess {
    --background: var(--ion-color-success);
    --border-radius: 2px;
    --color: var(--ion-color-white);
    --width: 300px !important;
}

.my-tost-custom-classerror {
    --background: var(--ion-color-danger-shade);
    --border-radius: 2px;
    --color: var(--ion-color-white);
    --width: 300px !important;
}

.my-tost-custom-classinfo {
    --background: var(--ion-color-warning);
    --border-radius: 2px;
    --color: var(--ion-color-black);
    --width: 300px !important;
}

// tost style end

img {
    width: 100%;
}
.page-inner {
    padding-bottom: 50px; 
}
.field-item {
    ion-input {
        background: #F5F5F5;
        border-radius: 30px;
        --padding-start: 20px;
        --padding-end: 20px;
        --highlight-color-focused: unset;
        color: #000;
        font-weight: 700;
    }
    ion-select {
        background: #F5F5F5;
        border-radius: 30px;
        --padding-start: 20px;
        --padding-end: 20px;
        --highlight-color-focused: unset;
    }
    ion-segment {
        background: #EEEEEE;
        padding: 5px;
        width: 80%;
        border-radius: 30px;
        margin: auto;
        ion-segment-button {
            border-radius: 30px;
            --border-radius: 30px;
            overflow: hidden;
            --color: #000;
            font-weight: 700;
        }
        ion-segment-button.segment-button-checked {
            --indicator-color: #11367a;
            border-radius: 30px;
            --indicator-height: 48px;
            --color-checked: #fff;
            --color: #fff;
            --indicator-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
            --border-radius: 30px;
            font-weight: 700;
        }
    }
    ng-otp-input {
        display: flex;
        justify-content: space-around;
    }
    .radio-box {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        padding: 0px 20px;
        ion-radio-group {
            ion-radio:first-child {
                margin-right: 10px;
            }
        }
    }
    li-ionic4-datepicker {
        input {
            font-size: 14px !important;
            background: #F5F5F5;
            border-radius: 30px !important;
            border: none !important;
            padding: 20px !important;
        }
    }
    .datePicker {
        li-ionic4-datepicker {
            input {
                font-size: 14px !important;
                background: #F5F5F5;
                border-radius: 30px !important;
                border: none !important;
                padding: 20px !important;
            }
        }
        // li-ionic4-datepicker:before {
        //     content: "Date of Birth"; 
        //     display: inline-block;
        //     position: absolute;
        //     left: 20px;
        //     top: 0;
        // }
        // li-ionic4-datepicker.ng-dirty:before{
        //     content: unset;
        // }
    } 
}
.segment-button-indicator-background {
    border-radius: 30px;
}
// login page design start
.transparent-header {
    ion-toolbar {
        --background: transparent;
        color: #fff;
    }
    ion-back-button {
        display: block;
    }
}
.transparent-header::after {
    background-image: none;
}
.login-screen {
    height: 100%;
    .login-header {
        color: #fff;
        margin: 0px 20px;
    }
    .login-inner {
        height: 100%;
        background: #fff;
        margin-top: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        .home-btn {
            --background: #11367a;
            min-height: 50px;
            margin-top: 10px;
        }
    }
}
.custom-btn {
    ion-button {
        --background: #F47E2B;
        min-height: 50px;
    }
}

/*three card start*/
.three-cards {
    margin-top: 40px;
    z-index: 2;
    .card-item {
        background-color: #00a6dd;
        padding: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-right: 40px;
        margin-left: 40px;
        .image {
            width: 76px;
            background-color: #fff;
            border-radius: 100%;
            margin: auto;
            padding: 16px;
        }
        .title {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            letter-spacing: 0.6px;
            margin: 15px 0;
        }
        .descption {
            color: #f0f0f0;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-box-orient: vertical;
            box-orient: vertical;
            -webkit-line-clamp: 5;
            -moz-line-clamp: 5;
            -ms-line-clamp: 5;
            line-clamp: 5;
            overflow: hidden;
            p {
                color: #f0f0f0;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -ms-box-orient: vertical;
                box-orient: vertical;
                -webkit-line-clamp: 5;
                -moz-line-clamp: 5;
                -ms-line-clamp: 5;
                line-clamp: 5;
                overflow: hidden;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
/*three card end*/

/* our_population start*/
.our_population {
    padding-top: 130px;
    z-index: 1;
    background-image: url(assets/B1-1.jpg);
    margin-top: -143px;
    .small-card {
        margin-bottom: 20px;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
        }
        .title {
            text-align: center;
            color: #ffffff !important;
            margin-top: 6px;
        }
    }
    .top-bar {
        color: #fff !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            font-size: 40px;
            color: #fff;
        }
        p {
            font-size: 20px;
            color: #fff !important;
        }
        .section_subtitle {
            color: #fff !important;
            p {
                color: #fff !important;
            }
        }
    }
}
/* our_population end*/

/* coding start*/
.coding {
    padding-top: 10px;
    .small-card {
        .title {
            text-align: center;
        }
    }
}
/* coding end*/
/* four-cards start */
.four-cards {
    padding-top: 10px;
    .card {
        background-color: #00a6dd;
        padding: 10px;
        border-radius: 10px;
        .title {
            border-radius: 10px;
            text-align: center;
            color: #fff;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .descption {
            iframe {
                width: 100%;
            }
        }
    }
}
/* four-cards end */

/* teachers start */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ion-icon {
        font-size: 40px;
        color: #11367a;
    }
    .section_title {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 300;
        flex-basis: fit-content;
        p {
            line-height: initial;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 300;
            color: #11367a;
        }
        .section_subtitle {
            display: block;
            font-size: 17px;
            margin-top: 8px;
            p {
                display: block;
                font-size: 17px;
                margin-top: 8px;
                color: #000;
            }
        }
    }
}

.teachers {
    background-color: #ffb400;
    .heading {
        font-size: 40px;
        color: #000;
        font-weight: 300;
        margin-top: 30px;
    }
}
/* teachers end */

/* curricular start */
.curricular {
    .small-card {
        margin-bottom: 20px;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
        }
        .title {
            text-align: center;
            margin-top: 6px;
        }
    }
}
/* curricular end */

/* kids start */
.kids {
    padding: 30px 0;
    background-size: cover;
    background-image: url(assets/B2-1.jpg);
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        ion-icon {
            font-size: 40px;
            color: #fff;
        }
        p {
            font-size: 20px !important;
            color: #fff !important;
        }
    }
    .imageBox {
        margin: 0px 20px;
        position: relative;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
        .title {
            background: rgba(0, 0, 0, 0.6);
            padding: 10px;
            color: #ffffff;
            position: absolute;
            padding: 16px 10px;
            color: #ffffff;
            bottom: 0;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}
/* kids end */

/* consultant start */
.consultant {
    .imageBox {
        position: relative;
        margin-bottom: 15px;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
        }
        .title {
            color: #fff;
            position: absolute;
            bottom: 0;
            padding: 10px 15px;
            width: 100%;
            right: 0;
            left: 0;
            background: #11367A;
            font-weight: bold;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin: 0;
            text-align: left; 
        }
    }
    .advertisement {
        background: #d2e9ff;
        padding: 10px;
        .custom-btn {
            ion-button {
                --background: #00a6dd;
                margin-top: 20px;
            }
        }
    }
}
/* consultant end */

/* Counter start */
.counter {
    background: #ffb400;
    font-weight: 700;
    line-height: 0;
    .counter-item {
        text-align: center;
        .counter-number {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
/* Counter end */
/* languages start */
.languages {
    .imageBox {
        margin: 0px 20px;
        position: relative;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 15px;
        }
    }
    swiper-container {
        padding: 30px 0;
        background: #ededed;
    }
}
/* languages end */

/* imageslide start */
.imageslide {
    padding: 30px 0;
    background: #ededed;
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-icon {
            font-size: 40px;
        }
        p {
            font-size: 20px;
        }
    }
    .imageBox {
        margin: 0px 20px;
        position: relative;
        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 15px;
        }
    }
}
/* imageslide end */

/* Profile page start */
.profile-header {
    padding: 1.8em;
    color: #fff;
    background: linear-gradient(to left, #24243e, #11367A, #0f0c29);
    .header-image {
        text-align: center;
        .image-box {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: auto;
            position: relative;
            outline: 5px solid #000;
            padding: 1px;
            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-color: white;
                object-fit: cover;
            }
            .image-edit {
                position: absolute;
                bottom: 0;
                right: 1px;
                background: #E4E6EB;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
            }
            input {
                width: 120px;
                height: 120px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
        .name {
            margin-top: 4px !important;
        }
        p {
            margin-top: 4px;
        }
        ion-button {
            margin-top: 10px;
            color: #fff;
            --background: #F47E2B;
        }
    }
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-button {
            --background: transparent;
            --box-shadow: none;
            --background: transparent;
            --box-shadow: none;
            font-size: 20px;
            margin: 0px;
            --padding: 0px;
        }
    }
}
.dashboard {
    margin-bottom: 50px;
    .card-item {
        padding: 10px 20px;
        margin: 10px 0;
        font-weight: 700;
        background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
        .card-wrapper {
            h2 {
                margin: 20px 0;
                font-weight: 700;
                color: #ffffff;
                font-size: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    color: #ffffff;
                    font-weight: 700;
                    text-decoration: underline;
                    font-size: 14px;
                }
            }
            p {
                margin: 20px 0;
                color: #ffffff;
                opacity: .8;
                font-weight: 700;
                height: 32px;
            }
        }
    }
}
// profile menu start
.profile-menu {
    ion-accordion-group {
        ion-accordion {
            ion-item.no-subMenu {
                ion-icon {
                    display: none;
                }
            }
            ion-item {
                mat-icon {
                    margin-right: 10px;
                }
            }
        }
    }
}
/* Profile page end */

/* klassCoins-packages start */
.klassCoins-packages {
    .card {
        display: flex;
        align-items: center;
        gap: 28px;
        color: #fcfcfc;
        padding: 32px;
        border-radius: 30%;
        position: relative;
        z-index: 1;
        box-shadow: 6px 28px 46px -6px #000;
      }
      
      .card::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background: linear-gradient(135deg, #f27121, #000000 40%);
        z-index: -2;
      }
      
      .card::after {
        content: '';
        position: absolute;
        left: 1px;
        top: 1px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        border-radius: 1rem;
        background: linear-gradient(90deg, #11367a, #060609);
        transition: box-shadow 0.3s ease;
        z-index: -1;
      }
      
      .card .info {
        display: flex;
        flex-flow: column nowrap;
        ul {
            list-style-type: none;
            padding-left: 10px;
            li {
                display: flex;
                align-items: center;
                mat-icon {
                    margin-right: 10px;
                }
            }
        }
      }
      
      .card .info .sub {
        color: #ff7a00;
        line-height: 28px;
        font-size: 14px;
        font-weight: 400;
      }
      
      .card .info .title {
        max-width: 260px;
        line-height: 28px;
        font-size: 17px;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
      }
      
      .card .info .btn {
        margin-top: 28px;
        color: #fff;
        background: transparent;
        border: unset;
        border-radius: 16px;
        overflow: hidden;
        padding: 12px 24px;
        font-weight: 600;
        font-size: 16px;
        margin-right: auto;
        cursor: pointer;
        position: relative;
        z-index: 0;
        transition: background 0.3s ease;
      }
      
      .card .info .btn::before,
      .card .info .btn::after {
        content: '';
        position: absolute;
      }
      
      .card .info .btn::before {
        left: 50%;
        top: 50%;
        background: linear-gradient(90deg, #ff7a00 0%, transparent 45%, transparent 55%, #ff7a00 100%);
        transform: translate(-50%, -50%) rotate(55deg);
        width: 100%;
        height: 240%;
        border-radius: 16px;
        z-index: -2;
        opacity: 0.4;
        transition: all 0.3s ease;
      }
      
      .card .info .btn::after {
        left: 2px;
        top: 2px;
        background: #171721;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 16px;
        z-index: -1;
      }
      
      .card .info .btn:hover::before {
        animation: 5s move infinite linear;
        opacity: 1;
      }
      
      .card .image {
        min-width: 86px;
        min-height: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 8px 12px 16px #000;
        position: relative;
        z-index: 0;
        mat-icon {
            width: 40px;
            height: 40px;
            font-size: 40px;
            color: #ff7a00;
        }
      }
      
      .card .image::before {
        content: '';
        position: absolute;
        background: linear-gradient(110deg, #ff7a00 10%, #000000);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: -2;
      }
      
      .card .image::after {
        content: '';
        position: absolute;
        left: 1px;
        top: 1px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        border-radius: 50%;
        background: linear-gradient(90deg, #123576, #030303);
        box-shadow: 6px 6px 14px -6px #f2712150 inset;
        z-index: -1;
      }
      
      .card .image > i {
        font-size: 30px;
        color: #ff7a00;
      }
      
      @keyframes move {
        0% {transform: translate(-50%, -50%)  rotate(55deg);}
        100% {transform: translate(-50%, -50%)  rotate(415deg);}
      }
}
/* klassCoins-packages end */

/* Profile card start*/
.profile-card {
    border: 2px solid #4444;
    border-radius: 20px;
    padding: 12px;
    .profile-top {
        display: grid;
        grid-auto-flow: column;
        .profile-img {
            width: 80px;
            height: 80px;
            margin: auto;
            border: 1px solid #4444;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                border-radius: 50%;
                object-fit: contain;
            }
        }
        .profile-details {
            padding-left: 10px;
            .name {
                font-weight: 700;
                color: #11367a;
            }
            .designation {
                font-size: 12px;
            }
        }
    }
    .profile-bottom {
        display: grid;
        grid-auto-flow: column;
        margin-top: 10px;
        .reward {
            display: flex;
            align-items: center;
            font-size: 14px;
            mat-icon {
                width: 18px;
                height: 18px;
                font-size: 18px;
            }
            span {
                margin-left: 5px;
            }
        }
        .rating {
            .rating-bar {
                text-align: right;
                color: #E7711B;
            }
        }
    }
}
/* Profile card end*/

/* Course filter start */
.courseFilter {
    padding: 55px 20px;
    overflow: auto;
    .filter-item {
        .filter-tittle {
            font-weight: 700;
        }
        .filter-box {
            ion-checkbox {
                margin-bottom: 10px;
            }
        }
    }
}
/* Course filter end */

/*swiper style start*/
swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  }
  
  swiper-slide {
    display: flex;
    position: relative;
  
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }
  
  swiper-slide img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
/*swiper style start*/

/* -----ionic date picker style start----- */
  
.li-ionic4-datePicker,.li-ionic-timepicker {
    .modal-wrapper {
      height: 75%;
      width: 310px !important;
      border-radius: 0px;
      @media (min-width: 768px) {
        width: 350px;
        height: 65%;
      }
    }
}
li-ionic4-datepicker {
    .clearButton {
        top: -1px;
        right: 25px !important;
    }
}
// time
.li-ionic-timepicker {
    .modal-wrapper {
        max-height: 276px;
        width: 310px;
        min-height: 0;
        border-radius: 0px; 
    }
}

  li-ionic4-datepicker-modal.ion-page ion-header ion-toolbar, li-ionic-timepicker-modal.ion-page ion-header ion-toolbar {
    --background: var(--ion-color-blue) !important;
  }
  li-ionic4-datepicker-modal.ion-page ion-content ion-grid ion-row ion-col,li-ionic-timepicker-modal.ion-page ion-content ion-grid ion-row ion-col {
    border-bottom-color: var(--ion-color-blue) !important;
   }
  li-ionic4-datepicker-modal.ion-page ion-content ion-grid ion-row ion-col ion-button,li-ionic-timepicker-modal.ion-page ion-content ion-grid ion-row ion-col ion-button {
   color: var(--ion-color-blue) !important;
  }
  li-ionic4-datepicker-modal.ion-page ion-content ion-grid ion-row ion-col ion-button,li-ionic-timepicker-modal.ion-page ion-content ion-grid ion-row ion-col ion-button ion-icon{
    color: var(--ion-color-blue) !important;
   }
  li-ionic4-datepicker-modal.ion-page ion-footer ion-toolbar ion-grid ion-row ion-col ion-button ,li-ionic-timepicker-modal.ion-page ion-footer ion-toolbar ion-grid ion-row ion-col ion-button{
    --background: var(--ion-color-blue) !important;
  }
  li-ionic4-datepicker-modal.ion-page ion-header ion-toolbar ion-title,li-ionic-timepicker-modal.ion-page ion-header ion-toolbar ion-title {
    font-size: 14px !important;
  }
  .ionic_datepicker_modal_content .dp-selecteddate,.ionic_timepicker_modal_content .dp-selecteddate {
    background:  var(--ion-color-blue) !important;
  }
  .ionic_datepicker_modal_content .dp-today,.ionic_timepicker_modal_content .dp-today {
    border-color: var(--ion-color-blue) !important;
  }
  ion-slide.tp-default-slide.ng-star-inserted.md.swiper-slide.swiper-zoom-container.hydrated.swiper-slide-active{
    color: var(--ion-color-blue) !important;
  }
  li-ionic4-datepicker {
    input {
        margin: 0 !important;
        border: 1px solid var(--ion-color-medium) !important;
        padding: 8px !important;
        border-radius: 4px !important;
        font-size: 13px !important;
    }
    .clearButton {
      top: -1px;
    }
  }
  li-ionic-timepicker {
    input {
        margin: 0 !important;
        border: 1px solid var(--ion-color-medium) !important;
        padding: 8px !important;
        border-radius: 4px !important;
        font-size: 13px !important;
    }
    .clearButton {
      top: -1px;
    }
  }
  li-ionic4-datepicker:after {
    content: "\f073"; 
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 50px;
    top: 0;
  }
  .li-ionic4-datePicker .modal-wrapper {
        height:75%;
    }

    @media screen and (min-width : 320px) and (max-width : 539px) {
        li-ionic4-datepicker-modal.ion-page ion-header {
            height: 40px !important;
        }
        li-ionic4-datepicker-modal.ion-page ion-footer {
            height: 48px !important;
        }
        li-ionic4-datepicker-modal.ion-page ion-footer ion-toolbar ion-grid ion-row ion-col {
            height: 40px !important;
        }
        li-ionic4-datepicker-modal.ion-page ion-footer ion-toolbar ion-grid ion-row ion-col ion-button {
            height: 40px !important;
        }
    }
/* ionic date picker end */

/* header start */
ion-header {
    ion-toolbar {
        ion-title {
            text-transform: capitalize;
            ion-icon {
                float: right;
                margin-top: 2px;
            }
        }
    }
}
/* header end */

/* skeleton loading start */
.loading-animation {
    .banner {
        ion-skeleton-text {
            height: 180px;
        }
    }
    .cards {
        .card-inner {
            background-color: #44444417;
            padding: 20px;
            padding-top: 25px;
            padding-bottom: 25px;
            border-radius: 10px;
            margin-bottom: 50px;
            margin-right: 40px;
            margin-left: 40px;
            margin-top: 50px;
            .card-img {
                width: 100px;
                margin: auto;
                height: 100px;
                border-radius: 50%;
            }
            .card-title {
                width: 70%;
                margin: auto;
                margin-top: 16px;
            }
        }
    }
    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
        .title {
            width: 75%;
            ion-skeleton-text.main {
                margin-bottom: 20px;
            }
        }
        .button-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    .image-boxes {
        .small-card {
            .image {
                height: 120px;
                width: 100%;
                border-radius: 8px;
            }
            .title {
                margin-top: 6px;
                margin-bottom: 0px;
            }
        }
    }
}
/* skeleton loading end */