/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

img {
    width: 100%;
}
.field-item {
    ion-input {
        background: #F5F5F5;
        border-radius: 30px;
        --padding-start: 20px;
        --padding-end: 20px;
        --highlight-color-focused: unset;
    }
    ion-select {
        background: #F5F5F5;
        border-radius: 30px;
        --padding-start: 20px;
        --padding-end: 20px;
        --highlight-color-focused: unset;
    }
    ion-segment {
        background: #EEEEEE;
        padding: 5px;
        width: 80%;
        border-radius: 30px;
        margin: auto;
        ion-segment-button {
            border-radius: 30px;
            --border-radius: 30px;
            overflow: hidden;
        }
        ion-segment-button.segment-button-checked {
            --indicator-color: #11367a;
            border-radius: 30px;
            --indicator-height: 48px;
            --color-checked: #fff;
            --color: #fff;
            --indicator-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
            --border-radius: 30px;
        }
    }
    ng-otp-input {
        display: flex;
        justify-content: space-around;
    }
}
.segment-button-indicator-background {
    border-radius: 30px;
}
// login page design start
.transparent-header {
    ion-toolbar {
        --background: transparent;
        color: #fff;
    }
    ion-back-button {
        display: block;
    }
}
.transparent-header::after {
    background-image: none;
}
.login-screen {
    height: 100%;
    .login-header {
        color: #fff;
        margin: 0px 20px;
    }
    .login-inner {
        height: 100%;
        background: #fff;
        margin-top: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.custom-btn {
    ion-button {
        --background: #F47E2B;
        min-height: 50px;
    }
}

/*swiper style start*/
swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
  }
  
  swiper-slide {
    display: flex;
    position: relative;
  
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 100%;
  
    font-size: 18px;
  
    text-align: center;
    box-sizing: border-box;
  }
  
  swiper-slide img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
/*swiper style start*/