/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* ---- metrail icon start ------- */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* metrail icon end */
// -------- tost style start -------
.toast-wrapper {
    // --width: 400px !important;
}

.ion-show {
    display: block;
}

.my-tost-custom-class {
    --background: var(--ion-color-lighter-shade);
    border-radius: 2px;
    color: var(--ion-color-white);
}

.my-tost-custom-classsuccess {
    --background: var(--ion-color-success);
    --border-radius: 2px;
    --color: var(--ion-color-white);
    --width: 300px !important;
}

.my-tost-custom-classerror {
    --background: var(--ion-color-danger-shade);
    --border-radius: 2px;
    --color: var(--ion-color-white);
    --width: 300px !important;
}

.my-tost-custom-classinfo {
    --background: var(--ion-color-warning);
    --border-radius: 2px;
    --color: var(--ion-color-black);
    --width: 300px !important;
}

// tost style end

img {
    width: 100%;
}

.page-inner {
    padding-bottom: 50px;
}

#main-profile-content {
    --padding-top: 55px;
}

ion-segment {
    background: #EEEEEE;
    padding: 5px;
    width: 80%;
    border-radius: 30px;
    margin: auto;

    ion-segment-button {
        border-radius: 30px;
        --border-radius: 30px;
        overflow: hidden;
        --color: #000;
        font-weight: 700;
    }

    ion-segment-button.segment-button-checked {
        --indicator-color: #11367a;
        --background: #11367a;
        border-radius: 30px;
        --indicator-height: 48px;
        --color-checked: #fff;
        --color: #fff;
        --indicator-box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
        --border-radius: 30px;
        font-weight: 700;
    }
}

.field-item {
    .checkBox {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    ion-input {
        background: #F5F5F5;
        border-radius: 30px;
        --padding-start: 20px;
        --padding-end: 20px;
        --highlight-color-focused: unset;
        color: #000;
    }

    ion-textarea {
        background: #F5F5F5;
        border-radius: 30px;
        --padding-start: 20px;
        --padding-end: 20px;
        --highlight-color-focused: unset;
        color: #000;
    }

    ion-select {
        background: #F5F5F5;
        border-radius: 30px;
        --padding-start: 20px;
        --padding-end: 20px;
        --highlight-color-focused: unset;
    }

    ng-otp-input {
        display: flex;
        justify-content: space-around;
    }

    .radio-box {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        padding: 0px 20px;

        ion-radio-group {
            ion-radio:first-child {
                margin-right: 10px;
            }
        }
    }

    li-ionic4-datepicker {
        input {
            font-size: 14px !important;
            background: #F5F5F5;
            border-radius: 30px !important;
            border: none !important;
            padding: 20px !important;
        }
    }

    .datePicker {
        ion-label {
            font-size: 14px;
            padding-bottom: 10px;
            display: block;
        }
        li-ionic4-datepicker {
            input {
                font-size: 14px !important;
                background: #F5F5F5;
                border-radius: 30px !important;
                border: none !important;
                padding: 20px !important;
            }
        }

        // li-ionic4-datepicker:before {
        //     content: "Date of Birth"; 
        //     display: inline-block;
        //     position: absolute;
        //     left: 20px;
        //     top: 0;
        // }
        // li-ionic4-datepicker.ng-dirty:before{
        //     content: unset;
        // }
    }
}
.field-item.password {
    display: flex;
    align-items: center;
    ion-icon {
        position: absolute;
        right: 22px;
        z-index: 9;
        cursor: pointer;
    }
}

.segment-button-indicator-background {
    border-radius: 30px;
}
.action-sheet-button.action-sheet-cancel {
    color: var(--ion-color-danger);
}

// login page design start
.transparent-header {
    ion-toolbar {
        --background: transparent;
        color: #fff;
    }

    ion-back-button {
        display: block;
    }
}

.transparent-header::after {
    background-image: none;
}

.login-screen {
    height: 100%;

    .login-header {
        color: #fff;
        margin: 0px 20px;
    }

    .login-inner {
        height: 100%;
        background: #fff;
        margin-top: 50px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;

        .home-btn {
            --background: #11367a;
            min-height: 50px;
            margin-top: 10px;
        }
    }
}

.custom-btn {
    ion-button {
        --background: #F47E2B;
        min-height: 50px;
    }
}
ion-button.icon-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    --padding-start: 0px;
    --padding-end: 0px;
}

/*three card start*/
.three-cards {
    margin-top: 40px;
    z-index: 2;

    .card-item {
        background-color: #00a6dd;
        padding: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-right: 40px;
        margin-left: 40px;

        .image {
            width: 76px;
            background-color: #fff;
            border-radius: 100%;
            margin: auto;
            padding: 16px;
        }

        .title {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            letter-spacing: 0.6px;
            margin: 15px 0;
        }

        .descption {
            color: #f0f0f0;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
            text-align: center;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -ms-box-orient: vertical;
            box-orient: vertical;
            -webkit-line-clamp: 5;
            -moz-line-clamp: 5;
            -ms-line-clamp: 5;
            line-clamp: 5;
            overflow: hidden;

            p {
                color: #f0f0f0;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
                text-align: center;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -ms-box-orient: vertical;
                box-orient: vertical;
                -webkit-line-clamp: 5;
                -moz-line-clamp: 5;
                -ms-line-clamp: 5;
                line-clamp: 5;
                overflow: hidden;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

/*three card end*/

/* our_population start*/
.our_population {
    padding-top: 130px;
    z-index: 1;
    background-image: url(assets/B1-1.jpg);
    margin-top: -143px;

    .small-card {
        margin-bottom: 20px;

        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
        }

        .title {
            text-align: center;
            color: #ffffff !important;
            margin-top: 6px;
        }
    }

    .top-bar {
        color: #fff !important;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ion-icon {
            font-size: 40px;
            color: #fff;
        }

        p {
            font-size: 20px;
            color: #fff !important;
        }

        .section_subtitle {
            color: #fff !important;

            p {
                color: #fff !important;
            }
        }
    }
}

/* our_population end*/

/* coding start*/
.coding {
    padding-top: 10px;

    .small-card {
        .title {
            text-align: center;
        }
    }
}

/* coding end*/
/* four-cards start */
.four-cards {
    padding-top: 10px;

    .card {
        background-color: #00a6dd;
        padding: 10px;
        border-radius: 10px;

        .title {
            border-radius: 10px;
            text-align: center;
            color: #fff;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .descption {
            iframe {
                width: 100%;
            }
        }
    }
}

/* four-cards end */

/* teachers start */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ion-icon {
        font-size: 40px;
        color: #11367a;
    }

    .section_title {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 300;
        flex-basis: fit-content;

        p {
            line-height: initial;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 300;
            color: #11367a;
        }

        .section_subtitle {
            display: block;
            font-size: 17px;
            margin-top: 8px;

            p {
                display: block;
                font-size: 17px;
                margin-top: 8px;
                color: #000;
            }
        }
    }
}

.teachers {
    background-color: #ffb400;

    .heading {
        font-size: 40px;
        color: #000;
        font-weight: 300;
        margin-top: 30px;
    }
}

/* teachers end */

/* curricular start */
.curricular {
    .small-card {
        margin-bottom: 20px;

        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
        }

        .title {
            text-align: center;
            margin-top: 6px;
        }
    }
}

/* curricular end */

/* kids start */
.kids {
    padding: 30px 0;
    background-size: cover;
    background-image: url(assets/B2-1.jpg);

    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;

        ion-icon {
            font-size: 40px;
            color: #fff;
        }

        p {
            font-size: 20px !important;
            color: #fff !important;
        }
    }

    .imageBox {
        margin: 0px 20px;
        position: relative;

        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
        }

        .title {
            background: rgba(0, 0, 0, 0.6);
            padding: 10px;
            color: #ffffff;
            position: absolute;
            padding: 16px 10px;
            color: #ffffff;
            bottom: 0;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}

/* kids end */

/* consultant start */
.consultant {
    .imageBox {
        position: relative;
        margin-bottom: 15px;

        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
        }

        .title {
            color: #fff;
            position: absolute;
            bottom: 0;
            padding: 10px 15px;
            width: 100%;
            right: 0;
            left: 0;
            background: #11367A;
            font-weight: bold;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin: 0;
            text-align: left;
        }
    }

    .advertisement {
        background: #d2e9ff;
        padding: 10px;

        .custom-btn {
            ion-button {
                --background: #00a6dd;
                margin-top: 20px;
            }
        }
    }
}

/* consultant end */

/* Counter start */
.counter {
    background: #ffb400;
    font-weight: 700;
    line-height: 0;

    .counter-item {
        text-align: center;

        .counter-number {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

/* Counter end */
/* languages start */
.languages {
    .imageBox {
        margin: 0px 20px;
        position: relative;

        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 15px;
        }
    }

    swiper-container {
        padding: 30px 0;
        background: #ededed;
    }
}

/* languages end */

/* imageslide start */
.imageslide {
    padding: 30px 0;
    background: #ededed;

    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ion-icon {
            font-size: 40px;
        }

        p {
            font-size: 20px;
        }
    }

    .imageBox {
        margin: 0px 20px;
        position: relative;

        img {
            height: auto;
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
            margin-bottom: 15px;
        }
    }
}

/* imageslide end */

/* Profile page start */
ion-header.profile-head {
    position: fixed;
    top: 0;
    padding: 5px;
    background: linear-gradient(to left, #24243e, #11367A, #0f0c29);

    .head-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ion-breadcrumbs {
            display: flex;
            flex-flow: nowrap;
            overflow: hidden;

            ion-breadcrumb {
                color: #fff;
            }
        }

        ion-button {
            --background: transparent;
            --box-shadow: none;
            --background: transparent;
            --box-shadow: none;
            font-size: 20px;
            margin: 0px;
            --padding: 0px;
        }
    }

    ion-breadcrumbs {
        margin-top: 10px;

        ion-breadcrumb {
            text-transform: capitalize;
        }
    }
}

.profile-sidenav-container {
    margin-top: 52px;
    margin-bottom: 60px;
    mat-sidenav {
        margin-top: 46px;
    }

    .dashboard {
        .crystalClear {
            background: #159957;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #155799, #159957);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #155799, #159957);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .sunkist {
            background: #F2994A;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #F2C94C, #F2994A);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .coal {
            background: #EB5757;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #000000, #EB5757);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #000000, #EB5757);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .mini {
            background: #30E8BF;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FF8235, #30E8BF);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .shalala {
            background: #D66D75;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #E29587, #D66D75);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #E29587, #D66D75);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .purplepine {
            background: #20002c;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #cbb4d4, #20002c);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    }

    .page-inner {
        .example-container {
            height: 450px;
            width: 550px;
            max-width: 100%;
            overflow: auto;
            table {
                width: 800px;
                ion-text.status {
                    color: var(--ion-color-primary);
                    text-transform: capitalize;
                    .alert-danger {
                        border-color: #d73814 !important;
                        color: #d73814;
                        border: 1px solid;
                    }
                    .alert {
                        padding: 5px;
                        border-radius: 4px;
                        background-color: #fafafa;
                        border-left: 6px solid #7f7f84;
                        margin-bottom: 10px;
                        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
                        -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
                        box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
                        display: table-cell;
                    }
                }
                ion-text.status.success {
                    color: var(--ion-color-success);
                }
                ion-text.status.cancelled {
                    color: var(--ion-color-danger);
                }
                .blink {
                    animation: blinker 1s linear infinite;
                }
                
                @keyframes blinker {
                    50% {
                        opacity: 0;
                    }
                }
            }

            td.mat-column-star {
                width: 20px;
                padding-right: 8px;
            }

            th.mat-column-position,
            td.mat-column-position {
                padding-left: 8px;
            }

            .mat-mdc-table-sticky-border-elem-right {
                border-left: 1px solid #e0e0e0;
            }

            .mat-mdc-table-sticky-border-elem-left {
                border-right: 1px solid #e0e0e0;
            }
        }
    }

    .profile-edit {
        padding-bottom: 50px;
        .profile-header {
            background: unset;
        }
    }
    .small-btn {
        width: 30px;
        height: 30px;
        --padding-start: 4px;
        --padding-end: 4px;
    }
    
    .basic-details {
        .details-item{
            display: flex;
            margin-bottom: 10px;
            .label {
                font-weight: bold;
                font-size: 14px;
                width: 40%;
            }
            .data {
                margin-left: 10px;
                font-size: 14px;
                width: 60%;
            }
        }
    }
}

.normal-file-uploading
  {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
  .normal-file-uploading .file-name
  {
    position: relative;
    left: 5px;
    top: 2px;
    background: #ffffff;
  }
  .normal-file-uploading .upload-file {
    float: left;
    height: 30px;
    width: 90px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    /* position: relative; */
    left: 0;
    input {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      left: 0;
    }
  }
  .normal-file-uploading input{
    width: 81px;
  }
  .form-upload-image{
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
  .image-clear.img
  {
    top: 0px;
    position: absolute;
    right: 0;
    background: #000;
    border-radius: 50%;
    font-size: 14px;
    line-height: 0;
    color: #fff;
  }

.profile-header {
    padding: 1.8em;
    color: #fff;
    background: linear-gradient(to left, #24243e, #11367A, #0f0c29);

    .header-image {
        text-align: center;

        .image-box {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: auto;
            position: relative;
            outline: 5px solid #000;
            padding: 1px;

            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-color: white;
                object-fit: cover;
            }

            .image-edit {
                position: absolute;
                bottom: 0;
                right: 1px;
                background: #E4E6EB;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000;
            }

            input {
                width: 120px;
                height: 120px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }

        .name {
            margin-top: 4px !important;
        }

        p {
            margin-top: 4px;
        }

        ion-button {
            margin-top: 10px;
            color: #fff;
            --background: #F47E2B;
        }
    }
}

.example-container {
    table {
        td {
            p {
                line-height: 1.6rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                max-height: 3.2rem;
            }
        }
    }
}

.dashboard {
    margin-bottom: 50px;

    .card-item {
        padding: 10px 20px;
        margin: 10px 0;
        font-weight: 700;
        background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);

        .card-wrapper {
            h2 {
                margin: 20px 0;
                font-weight: 700;
                color: #ffffff;
                font-size: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    color: #ffffff;
                    font-weight: 700;
                    text-decoration: underline;
                    font-size: 14px;
                }
            }

            p {
                margin: 20px 0;
                color: #ffffff;
                opacity: .8;
                font-weight: 700;
                height: 32px;
            }
        }
    }
}

.rate-review {
    .rate-item {
        ion-label {
            display: block;
        }
    }
}
.view-booking {
    ion-card {
        ion-card-subtitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6px;
            ion-button {
                --padding-start: 6px;
                --padding-end: 6px;
            }
        }
        ion-card-content {
            .basic-details {
                .details-item {
                    display: block;
                    .label {
                        width: 100%;
                    }
                    .data {
                        width: 100%;
                    }
                }
            }
        }
    }
}
// profile menu start
mat-sidenav {
    width: 300px;
}

.profile-menu {
    ion-accordion-group {
        margin-bottom: 50px;
        ion-accordion {
            ion-item.no-subMenu {
                ion-icon {
                    display: none;
                }
            }

            ion-item {
                mat-icon {
                    margin-right: 10px;
                }
            }
            ion-item:hover, ion-item.router-link-active {
                --background: linear-gradient(to left, #24243e, #11367A, #0f0c29);
                color: #fff;
                --color: #fff;
            }
        }
    }
}

/* Profile page end */

/* klassCoins-packages start */
.klassCoins-packages {
    .card {
        display: flex;
        align-items: center;
        gap: 28px;
        color: #fcfcfc;
        padding: 32px;
        border-radius: 30%;
        position: relative;
        z-index: 1;
        box-shadow: 6px 28px 46px -6px #000;
    }

    .card::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background: linear-gradient(135deg, #f27121, #000000 40%);
        z-index: -2;
    }

    .card::after {
        content: '';
        position: absolute;
        left: 1px;
        top: 1px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        border-radius: 1rem;
        background: linear-gradient(90deg, #11367a, #060609);
        transition: box-shadow 0.3s ease;
        z-index: -1;
    }

    .card .info {
        display: flex;
        flex-flow: column nowrap;

        ul {
            list-style-type: none;
            padding-left: 10px;

            li {
                display: flex;
                align-items: center;

                mat-icon {
                    margin-right: 10px;
                }
            }
        }
    }

    .card .info .sub {
        color: #ff7a00;
        line-height: 28px;
        font-size: 14px;
        font-weight: 400;
    }

    .card .info .title {
        max-width: 260px;
        line-height: 28px;
        font-size: 17px;
        font-weight: 500;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .card .info .btn {
        margin-top: 28px;
        color: #fff;
        background: transparent;
        border: unset;
        border-radius: 16px;
        overflow: hidden;
        padding: 12px 24px;
        font-weight: 600;
        font-size: 16px;
        margin-right: auto;
        cursor: pointer;
        position: relative;
        z-index: 0;
        transition: background 0.3s ease;
    }

    .card .info .btn::before,
    .card .info .btn::after {
        content: '';
        position: absolute;
    }

    .card .info .btn::before {
        left: 50%;
        top: 50%;
        background: linear-gradient(90deg, #ff7a00 0%, transparent 45%, transparent 55%, #ff7a00 100%);
        transform: translate(-50%, -50%) rotate(55deg);
        width: 100%;
        height: 240%;
        border-radius: 16px;
        z-index: -2;
        opacity: 0.4;
        transition: all 0.3s ease;
    }

    .card .info .btn::after {
        left: 2px;
        top: 2px;
        background: #171721;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border-radius: 16px;
        z-index: -1;
    }

    .card .info .btn:hover::before {
        animation: 5s move infinite linear;
        opacity: 1;
    }

    .card .image {
        min-width: 86px;
        min-height: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 8px 12px 16px #000;
        position: relative;
        z-index: 0;

        mat-icon {
            width: 40px;
            height: 40px;
            font-size: 40px;
            color: #ff7a00;
        }
    }

    .card .image::before {
        content: '';
        position: absolute;
        background: linear-gradient(110deg, #ff7a00 10%, #000000);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: -2;
    }

    .card .image::after {
        content: '';
        position: absolute;
        left: 1px;
        top: 1px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        border-radius: 50%;
        background: linear-gradient(90deg, #123576, #030303);
        box-shadow: 6px 6px 14px -6px #f2712150 inset;
        z-index: -1;
    }

    .card .image>i {
        font-size: 30px;
        color: #ff7a00;
    }

    @keyframes move {
        0% {
            transform: translate(-50%, -50%) rotate(55deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(415deg);
        }
    }
}

/* klassCoins-packages end */

/* Profile card start*/
.profile-card {
    border: 2px solid #4444;
    border-radius: 20px;
    padding: 12px;

    .profile-top {
        display: flex;
        align-items: center;

        .profile-img {
            width: 80px;
            height: 80px;
            border: 1px solid #4444;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                border-radius: 50%;
                object-fit: contain;
            }
        }

        .profile-details {
            padding-left: 10px;

            .name {
                font-weight: 700;
                color: #11367a;
            }

            .designation {
                font-size: 12px;
            }
        }
    }

    .profile-bottom {
        display: grid;
        grid-auto-flow: column;
        margin-top: 10px;

        .reward {
            display: flex;
            align-items: center;
            font-size: 14px;

            mat-icon {
                width: 18px;
                height: 18px;
                font-size: 18px;
            }

            span {
                margin-left: 5px;
            }
        }

        .rating {
            .rating-bar {
                text-align: right;
                color: #E7711B;
            }
        }
    }
}

/* Profile card end*/

/* Teacher Profile card start*/
.teacher-profile {
    .profile_top {
        background: #ffffff;
        border-radius: 25px;
        box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17);
        margin-top: 40px;
        padding: 28px 30px 30px 35px;
        position: relative;

        .profile__picture {
            background: #ffffff;
            border-radius: 100px;
            border: 10px solid #ffffff;
            height: 125px;
            position: absolute;
            top: -40px;
            width: 125px;

            img {
                border-radius: 100px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .profile__picture:before {
            border-radius: 100px;
            box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17);
            content: "";
            height: calc(100% + 20px);
            left: -10px;
            position: absolute;
            top: -10px;
            width: calc(100% + 20px);
            z-index: -1;
        }

        .profile__picture.yes:after {
            background: green;
        }
        .profile__picture.no:after {
            background: red;
        }
        .profile__picture:after {
            content: "";
            width: 15px;
            height: 15px;
            position: absolute;
            background: yellow;
            border-radius: 50%;
            border: 2px solid #fff;
            bottom: 0px;
            right: 10px;
        }

        .profile__header {
            display: flex;
            margin-bottom: 20px;

            .profile__account {
                align-self: center;
                display: flex;
                flex: 1;
                justify-content: flex-start;
                padding-left: 135px;

                h4 {
                    color: #11367a;
                    font-weight: bold;
                    margin-bottom: 0px;
                }

                .reviews-count {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 16px;
                    margin-top: 5px;

                    .rating {
                        padding: 0px;
                    }

                    mat-icon {
                        width: 16px;
                        height: 16px;
                        font-size: 16px;
                        margin-left: 10px;

                        .mat-badge-content {
                            font-size: 10px;
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }

        .subject {
            margin: 0;
            font-size: 12px;
            color: #00a6dd;
        }

        .profile__stats {
            display: flex;

            .profile__stat {
                -webkit-animation: slideUp ease-in-out 350ms forwards;
                animation: slideUp ease-in-out 350ms forwards;
                border-right: 1px solid #e9e9e9;
                display: flex;
                flex: 1;
                justify-content: center;
                padding: 10px 4px;
                transform: translateY(5px);

                .profile__icon {
                    flex: none;
                    font-size: 1.5em;
                    margin-right: 10px;
                    padding-top: 3px;
                }

                .profile__icon--gold {
                    mat-icon {
                        color: #F7C305;
                    }
                }

                .profile__icon--blue {
                    mat-icon {
                        color: #11367a;
                    }
                }

                .profile__icon--pink {
                    mat-icon {
                        color: #ba451b;
                    }
                }

                .profile__value {
                    font-family: "Montserrat", sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;

                    .profile__key {
                        font-family: "Montserrat", sans-serif;
                        font-size: 13px;
                        font-weight: 400;
                        text-align: center;
                    }
                }
            }
        }
    }

    .profile-details {
        margin-top: 10px;

        mat-tab-group {
            .mat-mdc-tab .mdc-tab__text-label {
                font-size: 12px;
            }

            .tab-inner {
                padding: 10px;

                h4 {
                    margin: 0px;
                }

                .basic-details {
                    .details-item {
                        display: flex;
                        margin-bottom: 10px;

                        .label {
                            font-weight: bold;
                            font-size: 14px;
                            width: 40%;
                        }

                        .data {
                            margin-left: 10px;
                            font-size: 14px;
                            width: 60%;
                        }
                    }
                }

                ion-accordion-group {
                    ion-accordion {
                        .skill-set {
                            ion-row {
                                border-bottom: 1px dashed #4444;

                                ion-col {
                                    ion-text {
                                        p {
                                            margin-top: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .rating-review-item {

                    /* Three column layout */
                    .side {
                        float: left;
                        width: 15%;
                        margin-top: 10px;
                    }

                    .middle {
                        margin-top: 10px;
                        float: left;
                        width: 70%;
                    }

                    /* Place text to the right */
                    .right {
                        text-align: right;
                    }

                    /* Clear floats after the columns */
                    .row:after {
                        content: "";
                        display: table;
                        clear: both;
                    }

                    /* The bar container */
                    .bar-container {
                        width: 100%;
                        background-color: #f1f1f1;
                        text-align: center;
                        color: white;
                        border-radius: 10px;
                        overflow: hidden;
                    }

                    /* Individual bars */
                    .bar-5 {
                        width: 60%;
                        height: 18px;
                        background-color: #04AA6D;
                    }

                    .bar-4 {
                        width: 30%;
                        height: 18px;
                        background-color: #2196F3;
                    }

                    .bar-3 {
                        width: 10%;
                        height: 18px;
                        background-color: #00bcd4;
                    }

                    .bar-2 {
                        width: 4%;
                        height: 18px;
                        background-color: #ff9800;
                    }

                    .bar-1 {
                        width: 15%;
                        height: 18px;
                        background-color: #f44336;
                    }
                }

                .several-rating {
                    margin: 20px 0px;

                    ion-grid {
                        padding: 0px;

                        ion-row {
                            margin-top: 10px;
                            font-size: 14px;
                        }

                        ion-col {
                            padding: 0px;
                        }
                    }

                    .rating {
                        padding: 0px;
                    }
                }

                ion-accordion-group {
                    ion-accordion {
                        margin-bottom: 10px;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                        ion-item {
                            font-size: 14px;
                            --background: #11367A;
                            color: #fff;

                            ion-icon {
                                color: #fff;
                            }
                        }

                        div {
                            font-size: 12px;
                        }
                    }
                }

                .table-bordered {
                    width: 100%;
                    margin-bottom: 10px;
                    font-size: 12px;
                }

                table,
                th,
                td {
                    border: 1px solid black;
                    border-collapse: collapse;
                    padding: 5px;
                }

                .review-item {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    font-size: 14px;

                    b {
                        margin-top: 5px;
                        display: block;
                    }

                    i {
                        display: block;
                        font-size: 12px;
                        margin-top: 5px;
                    }

                    .review-top {
                        display: flex;
                        align-items: center;

                        .profile-img {
                            margin-right: 20px;

                            img {
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }

                        .rating {
                            padding: 5px 0px;
                        }
                    }
                }

                swiper-slide {
                    text-align: left;
                }
            }
        }
    }
    .rating {
        display: flex;
        align-items: center;
        column-gap: 0.75rem;
        background-color: #fff;
        padding: 1rem 0;
        border-radius: 1rem;
    
        &__stars {
            position: relative;
            display: inline-block;
            width: max-content;
    
            &:before {
                content: url("data:image/svg+xml,%3Csvg width='116' height='20' viewBox='0 0 116 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.14319 1.42372C9.53185 0.777902 10.4681 0.777901 10.8568 1.42372L13.0731 5.10651C13.2128 5.33853 13.4405 5.504 13.7043 5.56509L17.8918 6.53491C18.6261 6.70498 18.9154 7.59545 18.4213 8.16466L15.6036 11.4106C15.4261 11.6151 15.3391 11.8828 15.3625 12.1526L15.7342 16.4347C15.7994 17.1857 15.0419 17.736 14.3478 17.442L10.3901 15.7653C10.1408 15.6596 9.85924 15.6596 9.60991 15.7653L5.65216 17.442C4.95813 17.736 4.20065 17.1857 4.26582 16.4347L4.63745 12.1526C4.66087 11.8828 4.57387 11.6151 4.39637 11.4106L1.57871 8.16466C1.0846 7.59545 1.37393 6.70498 2.10824 6.53491L6.29567 5.56509C6.55948 5.504 6.78723 5.33853 6.92685 5.10652L9.14319 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M33.1432 1.42372C33.5319 0.777902 34.4681 0.777901 34.8568 1.42372L37.0731 5.10651C37.2128 5.33853 37.4405 5.504 37.7043 5.56509L41.8918 6.53491C42.6261 6.70498 42.9154 7.59545 42.4213 8.16466L39.6036 11.4106C39.4261 11.6151 39.3391 11.8828 39.3625 12.1526L39.7342 16.4347C39.7994 17.1857 39.0419 17.736 38.3478 17.442L34.3901 15.7653C34.1408 15.6596 33.8592 15.6596 33.6099 15.7653L29.6522 17.442C28.9581 17.736 28.2006 17.1857 28.2658 16.4347L28.6375 12.1526C28.6609 11.8828 28.5739 11.6151 28.3964 11.4106L25.5787 8.16466C25.0846 7.59545 25.3739 6.70498 26.1082 6.53491L30.2957 5.56509C30.5595 5.504 30.7872 5.33853 30.9269 5.10652L33.1432 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M57.1432 1.42372C57.5319 0.777902 58.4681 0.777901 58.8568 1.42372L61.0731 5.10651C61.2128 5.33853 61.4405 5.504 61.7043 5.56509L65.8918 6.53491C66.6261 6.70498 66.9154 7.59545 66.4213 8.16466L63.6036 11.4106C63.4261 11.6151 63.3391 11.8828 63.3625 12.1526L63.7342 16.4347C63.7994 17.1857 63.0419 17.736 62.3478 17.442L58.3901 15.7653C58.1408 15.6596 57.8592 15.6596 57.6099 15.7653L53.6522 17.442C52.9581 17.736 52.2006 17.1857 52.2658 16.4347L52.6375 12.1526C52.6609 11.8828 52.5739 11.6151 52.3964 11.4106L49.5787 8.16466C49.0846 7.59545 49.3739 6.70498 50.1082 6.53491L54.2957 5.56509C54.5595 5.504 54.7872 5.33853 54.9269 5.10652L57.1432 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M81.1432 1.42372C81.5319 0.777902 82.4681 0.777901 82.8568 1.42372L85.0731 5.10651C85.2128 5.33853 85.4405 5.504 85.7043 5.56509L89.8918 6.53491C90.6261 6.70498 90.9154 7.59545 90.4213 8.16466L87.6036 11.4106C87.4261 11.6151 87.3391 11.8828 87.3625 12.1526L87.7342 16.4347C87.7994 17.1857 87.0419 17.736 86.3478 17.442L82.3901 15.7653C82.1408 15.6596 81.8592 15.6596 81.6099 15.7653L77.6522 17.442C76.9581 17.736 76.2006 17.1857 76.2658 16.4347L76.6375 12.1526C76.6609 11.8828 76.5739 11.6151 76.3964 11.4106L73.5787 8.16466C73.0846 7.59545 73.3739 6.70498 74.1082 6.53491L78.2957 5.56509C78.5595 5.504 78.7872 5.33853 78.9269 5.10652L81.1432 1.42372Z' fill='%23E3E0E0'/%3E%3Cpath d='M105.143 1.42372C105.532 0.777902 106.468 0.777901 106.857 1.42372L109.073 5.10651C109.213 5.33853 109.441 5.504 109.704 5.56509L113.892 6.53491C114.626 6.70498 114.915 7.59545 114.421 8.16466L111.604 11.4106C111.426 11.6151 111.339 11.8828 111.363 12.1526L111.734 16.4347C111.799 17.1857 111.042 17.736 110.348 17.442L106.39 15.7653C106.141 15.6596 105.859 15.6596 105.61 15.7653L101.652 17.442C100.958 17.736 100.201 17.1857 100.266 16.4347L100.637 12.1526C100.661 11.8828 100.574 11.6151 100.396 11.4106L97.5787 8.16466C97.0846 7.59545 97.3739 6.70498 98.1082 6.53491L102.296 5.56509C102.559 5.504 102.787 5.33853 102.927 5.10652L105.143 1.42372Z' fill='%23E3E1E1'/%3E%3C/svg%3E%0A");
            }
    
            &:after {
                content: url("data:image/svg+xml,%3Csvg width='116' height='20' viewBox='0 0 116 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.14319 1.42372C9.53185 0.777902 10.4681 0.777901 10.8568 1.42372L13.0731 5.10651C13.2128 5.33853 13.4405 5.504 13.7043 5.56509L17.8918 6.53491C18.6261 6.70498 18.9154 7.59545 18.4213 8.16466L15.6036 11.4106C15.4261 11.6151 15.3391 11.8828 15.3625 12.1526L15.7342 16.4347C15.7994 17.1857 15.0419 17.736 14.3478 17.442L10.3901 15.7653C10.1408 15.6596 9.85924 15.6596 9.60991 15.7653L5.65216 17.442C4.95813 17.736 4.20065 17.1857 4.26582 16.4347L4.63745 12.1526C4.66087 11.8828 4.57387 11.6151 4.39637 11.4106L1.57871 8.16466C1.0846 7.59545 1.37393 6.70498 2.10824 6.53491L6.29567 5.56509C6.55948 5.504 6.78723 5.33853 6.92685 5.10652L9.14319 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M33.1432 1.42372C33.5319 0.777902 34.4681 0.777901 34.8568 1.42372L37.0731 5.10651C37.2128 5.33853 37.4405 5.504 37.7043 5.56509L41.8918 6.53491C42.6261 6.70498 42.9154 7.59545 42.4213 8.16466L39.6036 11.4106C39.4261 11.6151 39.3391 11.8828 39.3625 12.1526L39.7342 16.4347C39.7994 17.1857 39.0419 17.736 38.3478 17.442L34.3901 15.7653C34.1408 15.6596 33.8592 15.6596 33.6099 15.7653L29.6522 17.442C28.9581 17.736 28.2006 17.1857 28.2658 16.4347L28.6375 12.1526C28.6609 11.8828 28.5739 11.6151 28.3964 11.4106L25.5787 8.16466C25.0846 7.59545 25.3739 6.70498 26.1082 6.53491L30.2957 5.56509C30.5595 5.504 30.7872 5.33853 30.9269 5.10652L33.1432 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M57.1432 1.42372C57.5319 0.777902 58.4681 0.777901 58.8568 1.42372L61.0731 5.10651C61.2128 5.33853 61.4405 5.504 61.7043 5.56509L65.8918 6.53491C66.6261 6.70498 66.9154 7.59545 66.4213 8.16466L63.6036 11.4106C63.4261 11.6151 63.3391 11.8828 63.3625 12.1526L63.7342 16.4347C63.7994 17.1857 63.0419 17.736 62.3478 17.442L58.3901 15.7653C58.1408 15.6596 57.8592 15.6596 57.6099 15.7653L53.6522 17.442C52.9581 17.736 52.2006 17.1857 52.2658 16.4347L52.6375 12.1526C52.6609 11.8828 52.5739 11.6151 52.3964 11.4106L49.5787 8.16466C49.0846 7.59545 49.3739 6.70498 50.1082 6.53491L54.2957 5.56509C54.5595 5.504 54.7872 5.33853 54.9269 5.10652L57.1432 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M81.1432 1.42372C81.5319 0.777902 82.4681 0.777901 82.8568 1.42372L85.0731 5.10651C85.2128 5.33853 85.4405 5.504 85.7043 5.56509L89.8918 6.53491C90.6261 6.70498 90.9154 7.59545 90.4213 8.16466L87.6036 11.4106C87.4261 11.6151 87.3391 11.8828 87.3625 12.1526L87.7342 16.4347C87.7994 17.1857 87.0419 17.736 86.3478 17.442L82.3901 15.7653C82.1408 15.6596 81.8592 15.6596 81.6099 15.7653L77.6522 17.442C76.9581 17.736 76.2006 17.1857 76.2658 16.4347L76.6375 12.1526C76.6609 11.8828 76.5739 11.6151 76.3964 11.4106L73.5787 8.16466C73.0846 7.59545 73.3739 6.70498 74.1082 6.53491L78.2957 5.56509C78.5595 5.504 78.7872 5.33853 78.9269 5.10652L81.1432 1.42372Z' fill='%23F7C305'/%3E%3Cpath d='M105.143 1.42372C105.532 0.777902 106.468 0.777901 106.857 1.42372L109.073 5.10651C109.213 5.33853 109.441 5.504 109.704 5.56509L113.892 6.53491C114.626 6.70498 114.915 7.59545 114.421 8.16466L111.604 11.4106C111.426 11.6151 111.339 11.8828 111.363 12.1526L111.734 16.4347C111.799 17.1857 111.042 17.736 110.348 17.442L106.39 15.7653C106.141 15.6596 105.859 15.6596 105.61 15.7653L101.652 17.442C100.958 17.736 100.201 17.1857 100.266 16.4347L100.637 12.1526C100.661 11.8828 100.574 11.6151 100.396 11.4106L97.5787 8.16466C97.0846 7.59545 97.3739 6.70498 98.1082 6.53491L102.296 5.56509C102.559 5.504 102.787 5.33853 102.927 5.10652L105.143 1.42372Z' fill='%23F7C305'/%3E%3C/svg%3E%0A");
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100% / 5 * var(--rating));
                overflow: hidden;
            }
        }
    
        &__number {
            display: flex;
            align-items: center;
            column-gap: 0.75rem;
            font-size: 1rem;
            font-weight: 600;
        }
    }
    .course-booking {
        .course-info {
            div {
                display: flex;
                ion-icon {
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .slot-booking {
            .slot-heading {
                text-align: center;
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
            }
            ion-item-group {
                display: flex;
                flex-wrap: wrap;
                ion-item-divider {
                    color: #000;
                    font-weight: 800;
                    width: 100%;
                }
                ion-item {
                    width: 50%;
                    ion-checkbox {
                        text-align: center;
                    }
                    ion-checkbox::part(container) {
                        // display: none;
                    }
                }
            }
        }
        .booking-summury {
            .booking-heading {
                text-align: center;
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
            }
            ion-list {
                ion-item {
                    ion-icon {
                        width: 20px;
                    }
                    ion-note {
                        font-size: 16px;
                    }
                }
            }
            .field-item {
                margin: 10px 0px;
                .datePicker {
                    ion-label {
                        text-align: center;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
        .custom-btn {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

/* Teacher Profile card end*/

/* redeem-rewards start */
.redeem-rewards {
    .img-card, img {
        border-radius: 40px;
    }
}
/* redeem-rewards end */

/* Course filter start */
.courseFilter {
    padding: 55px 20px;
    overflow: auto;

    .filter-item {
        .filter-tittle {
            font-weight: 700;
        }

        .filter-box {
            ion-checkbox {
                margin-bottom: 10px;
            }
        }
    }
}

/* Course filter end */

/*swiper style start*/
swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: var(--ion-color-primary, #3880ff);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

swiper-slide {
    display: flex;
    position: relative;

    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 18px;

    text-align: center;
    box-sizing: border-box;
}

swiper-slide img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

/*swiper style start*/

/* -----ionic date picker style start----- */

.li-ionic4-datePicker,
.li-ionic-timepicker {
    .modal-wrapper {
        height: 75%;
        width: 310px !important;
        border-radius: 0px;

        @media (min-width: 768px) {
            width: 350px;
            height: 65%;
        }
    }
}

li-ionic4-datepicker {
    .clearButton {
        top: -1px;
        right: 25px !important;
    }
}

// time
.li-ionic-timepicker {
    .modal-wrapper {
        max-height: 276px;
        width: 310px;
        min-height: 0;
        border-radius: 0px;
    }
}

li-ionic4-datepicker-modal.ion-page ion-header ion-toolbar,
li-ionic-timepicker-modal.ion-page ion-header ion-toolbar {
    --background: var(--ion-color-blue) !important;
}

li-ionic4-datepicker-modal.ion-page ion-content ion-grid ion-row ion-col,
li-ionic-timepicker-modal.ion-page ion-content ion-grid ion-row ion-col {
    border-bottom-color: var(--ion-color-blue) !important;
}

li-ionic4-datepicker-modal.ion-page ion-content ion-grid ion-row ion-col ion-button,
li-ionic-timepicker-modal.ion-page ion-content ion-grid ion-row ion-col ion-button {
    color: var(--ion-color-blue) !important;
}

li-ionic4-datepicker-modal.ion-page ion-content ion-grid ion-row ion-col ion-button,
li-ionic-timepicker-modal.ion-page ion-content ion-grid ion-row ion-col ion-button ion-icon {
    color: var(--ion-color-blue) !important;
}

li-ionic4-datepicker-modal.ion-page ion-footer ion-toolbar ion-grid ion-row ion-col ion-button,
li-ionic-timepicker-modal.ion-page ion-footer ion-toolbar ion-grid ion-row ion-col ion-button {
    --background: var(--ion-color-blue) !important;
}

li-ionic4-datepicker-modal.ion-page ion-header ion-toolbar ion-title,
li-ionic-timepicker-modal.ion-page ion-header ion-toolbar ion-title {
    font-size: 14px !important;
}

.ionic_datepicker_modal_content .dp-selecteddate,
.ionic_timepicker_modal_content .dp-selecteddate {
    background: var(--ion-color-blue) !important;
}

.ionic_datepicker_modal_content .dp-today,
.ionic_timepicker_modal_content .dp-today {
    border-color: var(--ion-color-blue) !important;
}

ion-slide.tp-default-slide.ng-star-inserted.md.swiper-slide.swiper-zoom-container.hydrated.swiper-slide-active {
    color: var(--ion-color-blue) !important;
}

li-ionic4-datepicker {
    input {
        margin: 0 !important;
        border: 1px solid var(--ion-color-medium) !important;
        padding: 8px !important;
        border-radius: 4px !important;
        font-size: 13px !important;
    }

    .clearButton {
        top: -1px;
    }
}

li-ionic-timepicker {
    input {
        margin: 0 !important;
        border: 1px solid var(--ion-color-medium) !important;
        padding: 8px !important;
        border-radius: 4px !important;
        font-size: 13px !important;
    }

    .clearButton {
        top: -1px;
    }
}

li-ionic4-datepicker:after {
    content: "\f073";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 50px;
    top: 0;
}

.li-ionic4-datePicker .modal-wrapper {
    height: 75%;
}

@media screen and (min-width : 320px) and (max-width : 539px) {
    li-ionic4-datepicker-modal.ion-page ion-header {
        height: 40px !important;
    }

    li-ionic4-datepicker-modal.ion-page ion-footer {
        height: 48px !important;
    }

    li-ionic4-datepicker-modal.ion-page ion-footer ion-toolbar ion-grid ion-row ion-col {
        height: 40px !important;
    }

    li-ionic4-datepicker-modal.ion-page ion-footer ion-toolbar ion-grid ion-row ion-col ion-button {
        height: 40px !important;
    }
}

/* ionic date picker end */

/* header start */
ion-header {
    ion-toolbar {
        ion-title {
            text-transform: capitalize;

            ion-icon {
                float: right;
                margin-top: 2px;
            }
        }
    }
}

/* header end */

/* refer-and-earn start */
.refer-and-earn {
    padding: 20px;
    .share-input {
        display: flex;
        align-items: center;
        .field-item {
            flex: auto;
        }
    }
}
/* refer-and-earn end */

/* skeleton loading start */
.loading-animation {
    .banner {
        ion-skeleton-text {
            height: 180px;
        }
    }

    .cards {
        .card-inner {
            background-color: #44444417;
            padding: 20px;
            padding-top: 25px;
            padding-bottom: 25px;
            border-radius: 10px;
            margin-bottom: 50px;
            margin-right: 40px;
            margin-left: 40px;
            margin-top: 50px;

            .card-img {
                width: 100px;
                margin: auto;
                height: 100px;
                border-radius: 50%;
            }

            .card-title {
                width: 70%;
                margin: auto;
                margin-top: 16px;
            }
        }
    }

    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;

        .title {
            width: 75%;

            ion-skeleton-text.main {
                margin-bottom: 20px;
            }
        }

        .button-icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

    .image-boxes {
        .small-card {
            .image {
                height: 120px;
                width: 100%;
                border-radius: 8px;
            }

            .title {
                margin-top: 6px;
                margin-bottom: 0px;
            }
        }
    }
}

/* skeleton loading end */
.disabled {
    pointer-events:none;
    opacity: 0.5;
}
.dotsAfter2lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width: 580px) {
    .dashboard .card-item .card-wrapper h2 {
        font-size: 20px;
    }
}