<ion-header class="transparent-header" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title [routerLink]="['/register']" class="ion-text-end">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-screen">
    <div class="login-header">
      <h2>Send OTP</h2>
      <p>We take the security and privacy of your information seriously, and we employ industry-standard measures to protect your data.</p>
    </div>
    <div class="login-inner">
      <ion-grid>
        <ion-row>
          <!-- email -->
          <ion-col size="12">
            <div class="field-item">
              <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config"></ng-otp-input>
            </div>
          </ion-col>
          <ion-col size="12">
            <ion-label class="ion-float-right" [routerLink]="['/forgot-password']">Forgot Password?</ion-label>
          </ion-col>
          <!-- Button -->
          <ion-col size="12">
            <div class="custom-btn">
              <ion-button expand="block" shape="round">
                Create an account
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
